<td class={{tableLabelClassl}}>
  <label class={{labelClass}}>
    {{label}}
  </label>
</td>
<td class={{tdClass}}>
  {{input
    class=inputClass
    type=fieldtype
    focusOut=(action "setDate")
    value=dt
    disabled=isReadonly
  }}
  {{#display-errors message=message}}{{/display-errors}}
</td>

{{yield}}