<div class={{tableLabelClass}}>
  <label class={{labelClass}}>
    {{label}}
  </label>
</div>
<div class="col-sm-1"></div>
<div class={{tdClass}}>
  {{input class=inputClass type=fieldtype value=dt disabled=isReadonly}}
</div>
{{yield}}