<div class="modal" id="eventNew">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Open : Events
        </h4>
      </div>
      <div class="modal-body">
        <table>
          <tbody>
            {{#object-title 
            label="Event" 
            changeTitle=(action "setTitle")
            format="^[a-zA-Z0-9\s.@-_,']*$"
            }}
            {{/object-title}}
            {{#date-field label="Date" changeDate=(action "setDate")
            }}
            {{/date-field}}
            {{#object-description
              label="Description"
              changeDescription=(action "setDescription")
            }}{{/object-description}}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn footer" onclick={{action "save"}}>
          <span>
            Save
          </span>
        </button>
        <button id="discardEvent" type="button" class="btn footerdiscard">
          <span>
            Discard
          </span>
        </button>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="flash-messages">
      {{#each flashMessages.queue as |flash|}}
        {{flash-message flash=flash}}
      {{/each}}
    </div>
  </div>
</div>
{{yield}}