<footer class="bg-light o_footer">
  <div id="footer" class="oe_structure oe_structure_solo">
    <section class="s_text_block pt16 pb8">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <span>
              Copyright ©
            </span>

            <span itemprop="name">
              Centureon IT
            </span>
          </div>
          <div class="col-lg-4" id="connect">
            {{! <h5>Connect with us</h5> }}
            {{! <ul class="list-unstyled">
                            <li><a href="/contactus">Contact us</a></li>
                            <li><i class="fa fa-phone"></i> <span class="o_force_ltr">07657675455</span></li>
                            <li><i class="fa fa-envelope"></i> <span>chicago@yourcompany.com</span></li>
                        </ul> }}
            {{! <p>
                            <a class="btn btn-sm btn-link" href="https://www.facebook.com/Odoo"><i
                                    class="fa fa-2x fa-facebook-square"></i></a>
                            <a class="btn btn-sm btn-link" href="https://twitter.com/Odoo"><i
                                    class="fa fa-2x fa-twitter"></i></a>
                            <a class="btn btn-sm btn-link" href="https://www.linkedin.com/company/odoo"><i
                                    class="fa fa-2x fa-linkedin"></i></a>
                            <a class="btn btn-sm btn-link" href="https://www.youtube.com/user/OpenERPonline"><i
                                    class="fa fa-2x fa-youtube-play"></i></a>
                            <a class="btn btn-sm btn-link" rel="publisher" href="https://plus.google.com/+Odooapps"><i
                                    class="fa fa-2x fa-google-plus-square"></i></a>
                            <a class="btn btn-sm btn-link" href="https://github.com/odoo"><i
                                    class="fa fa-2x fa-github"></i></a>
                            <a class="btn btn-sm btn-link" href="https://www.instagram.com/explore/tags/odoo/"><i
                                    class="fa fa-2x fa-instagram"></i></a>
                        </p> }}
          </div>
          <div class="col-lg-4">
            <h5>
              <span></span>
            </h5>
            <p>
            </p>
            <p>
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="o_footer_copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-muted text-center text-md-left">
          <ul class="js_language_selector mb0 list-inline">
            <li class="list-inline-item">
              <div class="dropup">
              </div>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 text-right o_not_editable">
          <div class="o_brand_promotion">
            {{! Powered by <a target="_blank" class="badge badge-danger"
                            href="http://www.odoo.com/page/website-builder?utm_source=db&amp;utm_medium=website">EBS</a> }}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>