  <div class={{classRow}} id="jstree">
    {{ember-jstree
      plugins=plugins
      data=data
      actionReceiver=jstreeActionReceiver
      eventDidSelectNode=(action "selectionNode")
      selectedNodes=jstreeSelectedNodes
      actionGetPath=(action "handleJstreePathNode")
    }}
  </div>
{{yield}}
