<div class={{classRow}} id="overlay">
  <div class={{classOverlayOne}}>
    <div class={{classOverlayTwo}}>
      <PaperProgressCircular @primary={{true}} @diameter={{100}} />
    </div>
  </div>
</div>
<div class={{classRowMargin}}>
  <div class={{classInputDiv}}>
  </div>
  <div class={{classBtnDiv}}>
    <button
      accesskey="c"
      class={{classbtnfull}}
      type="button"
      data-original-title=""
      title=""
      onclick={{action "delete"}}
    >
      <i title="Create" class="fa fa-remove"></i>
    </button>
  </div>
</div>
<div class={{classRowMargin}}>
  <div class={{classInputDiv}}>
    {{input
      class=classInputTwo
      value=filename
      placeholder="File name"
      focus-in=(action "clearMessage")
    }}
  </div>
  <div class={{classBtnDiv}}>
    <button
      accesskey="c"
      class={{classbtnfull}}
      type="button"
      data-original-title=""
      title=""
      onclick={{action "new"}}
    >
      <i title="Create" class="fa fa-plus"></i>
    </button>
  </div>
</div>
<div class={{classRowMargin}}>
  <div class={{classInputDiv}}>
    {{#if (not-eq message undefined)}}
      <code>
        {{message}}
      </code>
    {{/if}}
    {{input
      class=classInput
      value=renamefile
      placeholder="Rename"
      focus-in=(action "clearMessage")
    }}
  </div>
  <div class={{classBtnDiv}}>
    <button
      accesskey="c"
      class={{classbtnfull}}
      type="button"
      data-original-title=""
      title=""
      onclick={{action "rename"}}
    >
      <i title="Create" class="fa fa-edit"></i>
    </button>
  </div>
</div>
<div class="hrmargin"></div>
<div class={{classRow}} id="jstree">
    {{ember-jstree
      plugins=plugins
      data=data
      actionReceiver=jstreeActionReceiver
      treeObject=jstreeObject
      selectedNodes=jstreeSelectedNodes
      actionGetPath=(action "handleJstreePathNode")
      actionGetNode=(action "handleJstreeGetNode")
      eventDidSelectNode=(action "selectionNode")
      actionGetJson=(action "domData")
    }}
</div>
{{yield}}