<div id={{outerid "newcanvas" index}}>
  <canvas
  id={{index}}
  width={{width}}
  height={{heigth}}
  style="background: url('http://localhost:4200/images/placeimage.png')"
>
</canvas>

</div>

{{yield}}