<div class={{classTdOne}}>
  <div class={{classRow}}>
    {{#if (eq image undefined)}}
      <img src={{src}} class={{classImage}} alt="" />
    {{else}}
      <img src={{image}} class={{classImage}} alt="" />
    {{/if}}
  </div>
  <br />
  <div class={{classRow}}>
    {{#if (eq isReadonly true)}}
    {{else}}
      {{input type="file" class=classInput change=(action "upload")}}
    {{/if}}
  </div>
  <br />
  <div class={{classRow}}>
    {{input
      class=classInputRequires
      placeholder=placeholder
      disabled=isReadonly
      value=name
    }}
  </div>
</div>

<div class={{classTdTwo}}>
  <div class={{classTable}}>
    <table id={{tableid}}>
      {{#if (eq isReadonly true)}}
       <tbody>
         <tr>
           {{#each imagearray as |url|}}
           <td class={{classTD}}>
             <img src={{url.url}} class={{classImg}}>
           </td>
           {{/each}}
         </tr>
      </tbody>
      {{else}}
        <tbody id={{tbodyid}}>
        </tbody>
      {{/if}}
    </table>
  </div>
  <hr />
  <div class={{classCOLSmFour}}></div>
  <div class={{classCOLSmFour}}>
    <button class={{classBtn}} type="button">
      View all from library
    </button>
    <br />
    <br />
    <br />
    <div class={{classRow}}>
      {{yield}}
    </div>
  </div>
  <br />

  <div class={{classCOLSmFour}}></div>
</div>