{{yield paginatedItems}}
<ul>
  {{#if showPrevious}}
    <td class=""><li><button class="btn btn-link" {{action "previousClicked"}}>{{previousText}}</button></li></td>
  {{else}}
    <td class=""><li class="btn btn-link" style="text-decoration: line-through;">{{previousText}}</li></td>
  {{/if}}
  {{#each pageNumbers as |pageNumber|}}
    <td class=""><li><button class="btn btn-link" {{action "pageClicked" pageNumber}}>{{pageNumber}}</button></li></td>
  {{/each}}
   <td class=""><li><button class="btn btn-link" {{action "nextClicked"}}>{{nextText}}</button></li></td>
</ul>
