<div class="modal" id="locationNew">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Open : Location
        </h4>
      </div>
      <div class="modal-body">
        <table>
          <tbody>
            <tr>
              <td class="col-sm-4 padding-0 o_td_label">
                <label class="o_form_label">
                  Location
                </label>
              </td>
              <td class="col-sm-7 padding-left">
                {{input class="form-control required" value=newmodel.name}}
              </td>
            </tr>
            <tr>
              <td class="col-sm-4 padding-0 o_td_label">
                <label class="o_form_label">
                  Address
                </label>
              </td>
              <td class="col-sm-7 padding-left">
                {{input
                  type="type"
                  class="form-control input-txt"
                  value=newmodel.address
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn footer"
          onclick={{action "save" newmodel}}
        >
          <span>
            Save
          </span>
        </button>
        <button id="discardLocation" type="button" class="btn footerdiscard">
          <span>
            Discard
          </span>
        </button>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="flash-messages">
      {{#each flashMessages.queue as |flash|}}
        {{flash-message flash=flash}}
      {{/each}}
    </div>
  </div>
</div>