<div class="modal" id="msg">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Error
        </h4>
      </div>
      <div class="modal-body">
        <p id="message"></p>
        <br />
      </div>
      <div class="modal-footer">
        <button id="discardmsg" type="button" class="btn footerdiscard">
          <span>
            Discard
          </span>
        </button>
      </div>
    </div>
  </div>
</div>