<ul>
  {{#link-to "advance" tagName="li" class="option"}}
    Advancned Search
  {{/link-to}}
  {{#link-to "aircrafts" tagName="li" class="option"}}
    Aircrafts
  {{/link-to}}
  {{#link-to "asset" tagName="li" class="option" invokeAction=(action 'asset')}}
    Assets
  {{/link-to}}
  {{#link-to "bulkupload" tagName="li" class="option"}}
    Bulk Upload
  {{/link-to}}
  {{#link-to "gallery" tagName="li" class="option"}}
    Gallery
  {{/link-to}}
  {{#link-to "personnels" tagName="li" class="option"}}
    Personnels
  {{/link-to}}
  {{#link-to "search" tagName="li" class="option"}}
    Search
  {{/link-to}}
</ul>