<td class={{classTdOne}}>
  <label class={{classLabel}}>
    {{label}}
  </label>
</td>
<td class={{classTdTwo}}>
  {{input
    class=classInput
    value=data
    disabled=isReadonly
    focusOut=(action "checkNumber")
    focus-in=(action "clearMessage")
  }}
  {{#display-errors message=message}}{{/display-errors}}
</td>

{{yield}}