<div class={{classTreeDiv}}>
  <div class={{classRow}} id="overlay">
    <div class={{classOverlayOne}}>
      <div class={{classOverlayTwo}}>
        <PaperProgressCircular @primary={{true}} @diameter={{100}} />
      </div>
    </div>
  </div>
  <div class={{classRow}} id="jstree">
    {{ember-jstree
      plugins=plugins
      data=data
      actionReceiver=jstreeActionReceiver
      treeObject=jstreeObject
      selectedNodes=jstreeSelectedNodes
      actionGetPath=(action "handleJstreePathNode")
      actionGetNode=(action "handleJstreeGetNode")
      eventDidSelectNode=(action "selectionNode")
      actionGetJson=(action "domData")
    }}
  </div>
</div>
<div class={{classTwoDiv}}>
  <table
    class="o_list_view table table-sm table-hover table-striped o_list_view_ungrouped"
  >
    <tbody>
      <tr>
        <td class={{classInputDiv}}>
          {{#if (not-eq selectedDirectory undefined)}}
            {{input class=classInput disabled=true value=selectedDirectory}}
          {{else}}
            {{input class=classInput disabled=true value=urldirectory}}
          {{/if}}

          {{#if (not-eq delmessage undefined)}}
            <code>
              {{delmessage}}
            </code>
          {{/if}}
        </td>
        {{#if (not-eq mode "view")}}
          <td class={{classBTN}}>
            <button
              accesskey="c"
              class={{classbtnfull}}
              type="button"
              data-original-title=""
              title=""
              onclick={{action "delete"}}
            >
              <i title="Create" class="fa fa-remove"></i>
            </button>
          </td>
        {{/if}}
      </tr>
      {{#if (not-eq mode "view")}}
        <tr>
          <td class={{classInputDiv}}>
            {{input
              class=classInputTwo
              value=filename
              placeholder="File name"
              focus-in=(action "clearMessage")
            }}
          </td>
          <td class={{classBTN}}>
            <button
              accesskey="c"
              class={{classbtnfull}}
              type="button"
              data-original-title=""
              title=""
              onclick={{action "new"}}
            >
              <i title="Create" class="fa fa-plus"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td class={{classInputDiv}}>
            {{#if (not-eq message undefined)}}
              <code>
                {{message}}
              </code>
            {{/if}}

            {{input
              class=classInput
              value=renamefile
              placeholder="Rename"
              focus-in=(action "clearMessage")
            }}
          </td>
          <td class={{classBTN}}>
            <button
              accesskey="c"
              class={{classbtnfull}}
              type="button"
              data-original-title=""
              title=""
              onclick={{action "rename"}}
            >
              <i title="Create" class="fa fa-edit"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td class={{classBTNOne}}>
            <button
              accesskey="c"
              class={{classbtnfull}}
              type="button"
              data-original-title=""
              title=""
              onclick={{action "set"}}
            >
              <span class="d-none d-sm-inline">
                Set
              </span>
            </button>
          </td>
          <td></td>
        </tr>
      {{/if}}
    </tbody>
  </table>
</div>