{{#object-row-id data=model.sn isReadonly=true}}{{/object-row-id}}
{{#row-single-selection data=model.rank modelname="rank"}}
{{/row-single-selection}}
{{#object-both-date-h
  modelstartdate=model.startdate
  modelenddate=model.enddate
  label1="Start Date"
  label2="End Date"
}}{{/object-both-date-h}}
{{#obj-row-delete-btn totalarray=totalarray}}{{/obj-row-delete-btn}}

{{yield}}