{{#object-row-mark data=model.marked array=totalarray sn=model.sn}}
{{/object-row-mark}}
<td class="col-sm-1">
  {{model.sn}}
</td>

{{#object-row-autocomplete
  isReadonly=autoisReadonly
  data=model.bdno
  modelname="personnel"
  keyaccess="bdno"
  sn=model.sn
  needtobroadcast=true
}}{{/object-row-autocomplete}}
{{#if (eq titleReadonly false)}}
  {{#row-single-selection data=model.rank modelname="rank"}}
  {{/row-single-selection}}
{{else}}
  {{#object-row-title
    title=model.rank
    isReadonly=titleReadonly
    keyaccess="currentrank"
    sn=model.sn
  }}{{/object-row-title}}
{{/if}}

{{#object-row-title
  title=model.name
  isReadonly=nameReadonly
  keyaccess="name"
  sn=model.sn
  broadcast=true
}}{{/object-row-title}}
{{#if (eq mode "view")}}
  {{#object-row-title
    title=model.rankinpic
    isReadonly=true
    keyaccess="name"
    sn=model.sn
  }}{{/object-row-title}}
{{else}}
  {{#row-single-selection data=model.rankinpic modelname="rank"}}
  {{/row-single-selection}}
  {{#obj-row-delete-btn totalarray=totalarray needtobroadcast=true}}
  {{/obj-row-delete-btn}}
{{/if}}

{{yield}}