<tr>
  <td class={{classTd}}>
    {{input
      type="date"
      class=classInput
      value=modelstartdate
      focusOut=(action "checkdate")
      focus-in=(action "clearMessage")
    }}
  </td>
  <td class={{classTd}}>
    {{input
      type="date"
      class=classInput
      value=modelenddate
      focusOut=(action "checkstartdate")
      focus-in=(action "clearMessage")
    }}
  </td>
</tr>
{{#display-errors message=message}}{{/display-errors}}