<td class={{classTdOne}}>
  <label class={{classLabel}}>
    {{label}}
  </label>
</td>
<td class={{classTdTwo}}>
  {{#if (eq ticked false)}}
    <span class="bigcheck">
      <label class="bigcheck">
        <input
          id="retired"
          type="checkbox"
          class="bigcheck"
          name="cheese"
          value="yes"
          onchange={{action "optionsChecked"}}
        />
        <span class="bigcheck-target">
        </span>
      </label>
    </span>
  {{else}}
    <span class="bigcheck">
      <label class="bigcheck">
        <input
          id="retired"
          type="checkbox"
          class="bigcheck"
          name="cheese"
          value="yes"
          onchange={{action "optionsChecked"}}
          checked
        />
        <span class="bigcheck-target">
        </span>
      </label>
    </span>
  {{/if}}
</td>

{{yield}}