{{#object-row-title title=model.commentFrom isReadonly=true}}
{{/object-row-title}}

{{#object-row-text-field data=model.comment row=3 isReadonly=isReadonly}}
{{/object-row-text-field}}
{{#if (not-eq mode "view")}}
  {{#obj-row-delete-btn totalarray=totalarray}}{{/obj-row-delete-btn}}
{{else}}

{{/if}}

{{yield}}