<td class={{classTDOne}}>
  <label class="o_form_label">
    {{label}}
  </label>
</td>
<td class={{classTdTwo}}>
  {{input
    id=rowid
    class=classInput
    value=data
    disabled=isReadonly
    focusOut=(action "checkID")
    placeholder=placeholder
  }}
  {{#display-errors message=message}}{{/display-errors}}
</td>


{{yield}}