{{input
  class=classInput
  data-min-length="1"
  multiple=""
  data-selection-required="1"
  list="bdnos"
  name="bdno22"
  placeholder=placeholder
  value=data
  change=(action "setvalue")
  disabled=isReadonly
}}
<datalist id="bdnos">
  {{#each sortedCollection as |row|}}
    {{#each-in row._internalModel._data as |key value|}}
      {{#if (eq key keyaccess)}}
        <option value={{value}}>
          {{value}}
        </option>
      {{/if}}
    {{/each-in}}
  {{/each}}
</datalist>

{{yield}}