<span class={{spanClass}}>
  <label class={{spanLabelClass}}>
    <input
      id="retired1"
      type="checkbox"
      class={{inputClass}}
      name="cheese"
      checked={{data}}
      onchange={{action "optionsChecked"}}
    />
    <span class={{spanTargetClass}}></span>
  </label>
</span>