<div class={{classDivOne}}>
  {{model.name}}
</div>
 
<div class={{classDivTwo}}>
  {{#if (not-eq mode "view")}}
    {{#obj-row-delete-btn totalarray=totalarray keyAccess="name"}}
  {{/obj-row-delete-btn}}
  {{/if}}

</div>