<td class={{tableLabelClass}}>
  <label class={{labelClass}}>
    {{label}}
  </label>
</td>
<td class={{tdClass}}>
  {{input
    class=inputClass
    value=title
    focusOut=(action "setName")
    disabled=isReadonly
    focus-in=(action "clearMessage")
  }}
{{#display-errors message=message}}{{/display-errors}}
</td>
{{yield}}