<div class={{classOuter}} id="newcanvas">
  <div class={{classRow}} id="overlay">
    <div class={{classOverlayOne}}>
      <div class={{classOverlayTwo}}>
        <PaperProgressCircular @primary={{true}} @diameter={{100}} />
      </div>
    </div>
  </div>
  <canvas
    id="myCanvas"
    width={{width}}
    height={{heigth}}
    style="background: url('http://localhost:4200/images/placeimage.png')"
  >
  </canvas>
</div>
<br />
<div class={{classRow}}>
  <div class={{classColSmTwo}}></div>

  <div class={{classColSmSix}}>
    {{#if (eq isUpload true)}}
      {{input type="file" class=inputClass id="image" change=(action "upload")}}
    {{/if}}
  </div>
  <div class={{classColSmTwo}}></div>
</div>
<br />
<div class="col-sm-12">
  {{#if (not-eq image undefined)}}
    {{#if (eq ifimageEdited true)}}
      <div class={{ClassColSMFour}}>
        <button
          class={{buttonClasstwo}}
          type="button"
          data-original-title=""
          title=""
          onclick={{action "imageedit"}}
        >
          <span class="d-none d-sm-inline">
            Edit Image
          </span>
        </button>
      </div>
    {{/if}}
  {{/if}}

  {{#if (eq isUpload true)}}
    <button
      class={{buttonClass}}
      type="button"
      data-original-title=""
      title=""
      onclick={{action "recognization"}}
    >
      <span class="d-none d-sm-inline">
        Recognize
      </span>
    </button>
  {{/if}}
  <div class={{classCOlSM5}}>
    <span class="bigcheck">
      <label class="bigcheck">
        <input
          id="retired"
          type="checkbox"
          class="bigcheck"
          name="cheese"
          value="yes"
          onchange={{action "optionsChecked"}}
        />
        <span class="bigcheck-target">
          {{label}}
        </span>
      </label>
    </span>
  </div>
</div>
{{yield}}