<div class={{classRow}}>
  <div class={{classDivone}}>
    <label class={{labelClass}}>
       {{label}}
     </label>
  </div>
  <div class={{classDivtwo}}>
    {{#if (not-eq mode "view")}}
      {{input
        type="text"
        placeholder=placeholder
        class=classInput
        data-min-length="1"
        multiple=""
        data-selection-required="1"
        name="categories22"
        value=data
        change=(action "setvalue")
      }}
    {{/if}}
  </div>
  <div class={{classDivone}}></div>
</div>

<br />
<div class={{classRowTwo}}>
  <div class={{classTag}}>
    {{#each array as |arr|}}
      {{#object-tags model=arr totalarray=array mode=mode isReadonly=isReadonly
      }}{{/object-tags}}
    {{else}}

    {{/each}}
  </div>
</div>

{{yield}}