<td class="col-sm-1">
  {{model.sn}}
</td>
{{#row-single-selection data=model.name modelname="aircraft"}}
{{/row-single-selection}}
{{#obj-row-delete-btn totalarray=totalarray}}{{/obj-row-delete-btn}}

{{yield}}