<td class={{tableLabelClass}}>
  <label class={{labelClass}}>
    {{label}}
  </label>
</td>
<td class={{tdClass}}>
  {{textarea
    class=inputClass
    value=desc
    row=row
    focusOut=(action "setDescription")
    disabled=isReadonly
  }}
  {{#display-errors message=message}}{{/display-errors}}
</td>
{{yield}}