<td class={{tdClassOne}}>
  <label class={{labelClass}}>
    {{label}}
  </label>
</td>
<td class={{tdClassTwo}}>
  <span class={{spanClass}}>
    <label class={{spanLabelClass}}>
      <input
        id="retired"
        type="checkbox"
        class={{inputClass}}
        name="cheese"
        value="yes"
        onchange={{action "optionsChecked"}}
      />
      <span class={{spanTargetClass}}></span>
    </label>
  </span>
</td>
 
{{yield}}