<td class={{tableLabelClass}}>
  <label class={{labelClass}}>
    {{label}}
  </label>
</td>
<td class={{tdClass}}>
  {{input
    class=inputClass
    value=data
    type="range" 
    min=minlength
    max=maxlength
    step=step
    change=(action "setValue" data)
  }}
  <code>{{label}} : {{data}}</code>
</td>
{{yield}}

{{yield}}