<div class={{classDivOne}}>
  <table>
    <tbody>
      {{#object-title
        title=studiocaption
        isReadonly=isReadonly
        label="Caption"
        isPresence=false
        inputClass="form-control input-txt"
      }}{{/object-title}}
      {{#if (not-eq mode "view")}}
        {{#single-selection
          label="Studio Photography"
          modelname="studiophotography"
          data=studiophotography
          sortitem="id"
        }}{{/single-selection}}
      {{else}}
        {{#object-title
          title=studiophotography
          isReadonly=true
          label="Studio Photography"
          isPresence=false
          inputClass="form-control input-txt"
        }}{{/object-title}}
      {{/if}}
    </tbody>
  </table>
</div>