<td class={{tableLabelClass}}>
  <label class={{labelClass}}>
    {{label}}
  </label>
</td>
<td class={{tdClass}}>
  {{textarea
    cols=cols
    rows=rows
    value=data
    disabled=isReadonly
  }}
</td>
{{yield}}