<div class="modal" id="rankNew">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Open : Rank
        </h4>
      </div>
      <div class="modal-body">
        <table>
          <tbody>
            <tr>
              <td class="col-sm-4 padding-0 o_td_label">
                <label class="o_form_label">
                  Rank
                </label>
              </td>
              <td class="col-sm-7 padding-left">
                {{input class="form-control required" value=newmodel.name}}
              </td>
            </tr>
            <tr>
              <td class="col-sm-4 padding-0 o_td_label">
                <label class="o_form_label">
                  Code
                </label>
              </td>
              <td class="col-sm-7 padding-left">
                {{input class="form-control input-txt" value=newmodel.code}}
              </td>
            </tr>
            <tr>
              <td class="col-sm-4 padding-0 o_td_label">
                <label class="o_form_label">
                  Description
                </label>
              </td>
              <td class="col-sm-7 padding-left">
                {{input
                  class="form-control input-txt"
                  value=newmodel.description
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn footer"
          onclick={{action "save" newmodel}}
        >
          <span>
            Save
          </span>
        </button>
        <button id="discardRank" type="button" class="btn footerdiscard">
          <span>
            Discard
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
{{#message-component}}{{/message-component}}