<select
  class={{classSelection}}
  onchange={{action "selectedOption" value="target.value"}}
>
  <option value="0"></option>
  {{#each model as |row|}}
    {{#each-in row._internalModel._data as |key value|}}
      {{#if (eq key keyaccess)}}
        <option value={{value}}>
          {{value}}
        </option>
      {{/if}}
    {{/each-in}}
  {{/each}}
</select>

{{yield}}