<td class={{classTdOne}}>
  <label class={{classLabel}}>
    {{label}}
  </label>
</td>
<td class={{classTdTwo}}>
  <select
    id={{selectionid}}
    class={{classSelection}}
    onchange={{action "selectedOption" value="target.value"}}
  >
    <option value="0"></option>
    {{#if (eq setValue "N/A")}}
      {{#each sortedCollection as |row|}}
        {{#each-in row._internalModel._data as |key value|}}
          {{#if (eq key keyaccess)}}
            <option value={{value}}>
              {{value}}
            </option>
          {{/if}}
        {{/each-in}}
      {{/each}}
    {{else if (eq setValue undefined)}}
      {{#each sortedCollection as |row|}}
        {{#each-in row._internalModel._data as |key value|}}
          {{#if (eq key keyaccess)}}
            <option value={{value}}>
              {{value}}
            </option>
          {{/if}}
        {{/each-in}}
      {{/each}}
    {{else}}
      {{#each sortedCollection as |row|}}
        {{#each-in row._internalModel._data as |key value|}}
          {{#if (eq key keyaccess)}}
            {{#if (eq value setValue)}}
              <option value={{value}} selected>
                {{value}}
              </option>
            {{else}}
              <option value={{value}}>
                {{value}}
              </option>
            {{/if}}
          {{/if}}
        {{/each-in}}
      {{/each}}
    {{/if}}
  </select>
</td>
{{yield}}