@import "bootstrap";
@import "ember-cli-paper";

:root {
  --main-color-or: rgba(0,176,240,1);
  --main-color-new: rgba(0,112,192,1);
  --main-color-red: rgba(0,112,192, 1);
  --deep-orange: rgba(0,84,147,1);
  --main-color-light-red: rgba(62,116,209,1);
  --greyblack: rgb(52, 52, 52);
  --main-color-blck: rgba(52, 52, 52, 1);
  --main-color-blck-prog: rgba(52, 52, 52, 0.5);
  --main-color-red-hover: rgba(0,176,240,1);
  --main-color-red-hover-link: rgba(0,84,147,1);
  --white: rgba(235, 235, 235, 1);
  --purewhite: rgba(255, 255, 255, 1);
  --silver: rgb(214, 214, 214, 1);
  --require: rgb(0,176,240,0.2);
  --greylight: rgb(219, 219, 219, 1);
  --grey: rgb(214, 214, 214, 1);
  --grey-lighter: rgb(247, 247, 247, 1);
  --grey-dark: rgb(228, 228, 228, 1);
  --grey-darkest: rgb(191, 191, 191, 1);
  --nikel: rgb(146, 146, 146, 1);
  --steel: rgb(121, 121, 121, 1);
  --tungstun: rgb(66, 66, 66, 1);
  --pureblack: rgb(0, 0, 0, 1);
  --bgwhite: rgb(248, 249, 250);
  --nav-link-tab: #dee2e6;
  --nav-color: #495057;
  --nav-tab-bg-color: var(--purewhite);
  --nav-tab-border-color-1: #dee2e6;
  --nav-tab-border-color-2: #dee2e6;
  --nav-tab-border-color-3: var(--purewhite);

  --col-sidenav: var(--main-color-blck);
  --col-bk-progress: var(--main-color-blck-prog);
  --col-sidenav-white: var(--white);
  --col-navbar-default-orange: var(--main-color-or);
  --col-navbar-default-red: var(--main-color-red);
  --col-navbar-default-navbar-nav-li-a-white: var(--white);
  --col-staticnav-purewhite: var(--purewhite);
  --col-staticnav-silver: var(--silver);
  --col-navbar-defaul-navbar-brand-navbar-custom-navbar-text-white: var(--white);
  --col-body-white: var(--white);
  --col-icon-bar-greyblack: var(--greyblack);
  --col-navbar-brand-a-hover: var(--main-color-blck);
  --col-navbar-collapse-a-hover: var(--main-color-blck);
  --col-ul-li-a-hover: var(--main-color-red-hover);
  --col-breadcrumb-purewhite: var(--purewhite);
  --col-ol-silver: var(--silver);
  --col-btn-primary-white: var(--white);
  --col-btn-primary-blck: var(--main-color-blck);
  --col-btn-secondary-red-hover: var(--main-color-red-hover);
  --col-btn-secondary-white: var(--white);
  --col-btn-primary-purewhite: var(--purewhite);
  --col-btn-primary-background-color-or: var(--main-color-or);
  --col-btn-primary-background-color-red: var(--main-color-red);
  --col-btn-primary-background-color-deep-orange: var(--main-color-light-red);
  --col-btn-secondary-main-color-blck: var(--main-color-blck);
  --col-btn-secondary-bg-purewhite: var(--purewhite);
  --col-active-pink-2-input-search-hover-red: var(--main-color-red-hover);
  --col-active-pink-2-input-search-purewhite: var(--purewhite);
  --col-active-pink-2-input-search-border-red: var(--main-color-light-red);
  --col-btn-span:var(--nikel);
  --col-btn-span-hover:var(--main-color-or);
  --col-btn-span-white:var(--white);
  --col-code-title:var(--greyblack);

  --col-icon-main-color-light-red: var(--main-color-light-red);
  --col-breadcrumb-item-main-color-or: var(--main-color-or);
  --col-borrolink-main-color-or: var(--main-color-or);

  --col-dropdown-divider-silver: var(--silver);
  --col-o_menu_item-a-greyblack: var(--greyblack);
  --col-o_menu_item-a-hover-or: var(--main-color-or);

  --col-input-required-bangi: var(--require);
  --col-select-required-bangi: var(--require);
  --col-select-required-border-or: var(--main-color-or);
  --col-input-txt-purewhite: var(--purewhite);
  --col-input-txt-white: var(--greylight);
  --col-input-txt-focus-border-greyblack: var(--main-color-or);
  --col-input-txt-focus-border-deeporange: var(--main-color-light-red);
  --col-input-txt-focus-or: var(--main-color-or);

  --col-o_horizontal_separator-or: var(--main-color-or);
  --col-o_horizontal_separator-deep-or: var(--deep-orange);
  --col-o_external_button-purewhite: var(--purewhite);
  --col-o_external_button-or: var(--main-color-or);
  --col-o_external_button-hover-greyblack: var(--greyblack);
  --col-o-td-label-silver: var(--silver);

  --col-footer-or: var(--main-color-or);
  --col-footer-white: var(--white);
  --col-footer-bg-hover-greyblack: var(--greyblack);
  --col-footerdiscard-purewhite: var(--purewhite);
  --col-footerdiscard-hover-or: var(--main-color-or);
  --col-footerdiscard-hover-white: var(--white);

  --col-margin-nav-lighgrey: var(--greylight);

  --col-breadcrump1-bg-color: var(--greylight);
  --col-breadcrump1-a-bg-color: var(--purewhite);
  --col-breadcrump1-a-font-color: var(--nikel);
  --col-breadcrump1-a-font-invite-color: var(--main-color-light-red);

  --col-breadcrump1-a-hover-bg-color: var(--main-color-red);
  --col-breadcrump1-a-hover-font-color: var(--purewhite);
  --col-table-o-list-view-bg-color: var(--pureblack);
  --col-table-o-list-view-header-color: var(--grey-darkest);

  --col-table-stripped-row-color: var(--grey-lighter);
  --col-table-stripped-odd-row-color: var(--grey-dark);
  --col-bglight-color: var(--bgwhite);
  --col-link-color: var(--main-color-red-hover-link);
  --col-inbox-checkbox: var(--main-color-or);
  --col-nav-link-tab: var(--nav-link-tab);

  --col-nav-color: var(--nav-color);
  --col-nav-tab-bg-color: var(--nav-tab-bg-color);
  --col-nav-tab-border-color-1: var(--nav-tab-border-color-1);
  --col-nav-tab-border-color-2: var(--nav-tab-border-color-2);
  --col-nav-tab-border-color-3: var(--nav-tab-border-color-3);
  --col-next:var(--nike)
}

@media only screen and (max-width: 600px) {
  .navbar-default {
    background-image: linear-gradient(to right, var(--col-navbar-default-orange), var(--col-navbar-default-red));
  }

  .navbar-brand {
    font-size: 20px;
    line-height: 28px;
    font-weight: 900;
    cursor: pointer;
  }

  .breadcrumb1 {
    background-color: var(--col-breadcrump1-bg-color);
    display: inline-block;
    padding: 1px;
    padding-right: 18px;
  }

  input.required {
    background-color: var(--col-input-required-bangi);
    border: none !important;
    border-radius: 1px;
    height: 25px;
    width: 350px;
  }

  .required-213 {
    background-color: var(--col-input-required-bangi);
    border: none !important;
    border-radius: 1px;
    height: 25px;
    width:100%;
  }


  select.required {
    background-color: var(--col-select-required-bangi);
    border: none !important;
    border-radius: 1px;
    height: 25px;
    width: 350px;
    padding: 1px;
  }

  .staticnav-new {
    height: 200px;
    background-color: var(--col-staticnav-purewhite);
    border-bottom: 0.01px solid var(--col-staticnav-silver);
  }

  .margin-nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    border-top: 1px solid var(--col-margin-nav-lighgrey);
  }

  select.required:focus {
    background-color: var(--col-select-required-bangi);
    border: none !important;
    border-radius: 1px;
    height: 25px;
    width: 350px;
    padding: 1px;
    border-top: 1px solid var(--col-select-required-bangi);
    border-left: 1px solid var(--col-select-required-bangi);
    border-right: 1px solid var(--col-select-required-bangi);
    border-radius: 1px;
    border-bottom: 2px solid var(--col-select-required-border-or);
    box-shadow: 0 2px 0 0 var(--col-select-required-border-or);
  }

  input.input-txt {
    border-top: 1px solid var(--col-input-txt-purewhite);
    border-left: 1px solid var(--col-input-txt-purewhite);
    border-right: 1px solid var(---col-input-txt-purewhite);
    border-radius: 1px;
    border-bottom: 1px solid var(--col-input-txt-white);
    box-shadow: 0 1px 0 0 var(--col-input-txt-white);
    height: 25px;
    width: 350px;
  }

  .textareascroll:focus{
    border: 1px solid var(--col-input-txt-focus-border-greyblack);
    box-shadow: 0 1px 0 0 var(--col-input-txt-focus-border-greyblack);
  }

  input.input-txt:focus {
    border-top: 1px solid var(--col-input-txt-purewhite);
    border-left: 1px solid var(--col-input-txt-purewhite);
    border-right: 1px solid var(--col-input-txt-purewhite);
    border-radius: 1px;
    border-bottom: 1px solid var(--col-input-txt-focus-border-greyblack);
    box-shadow: 0 1px 0 0 var(--col-input-txt-focus-border-greyblack);
    height: 25px;
    width: 350px;
  }


 
  .textareascroll {
    overflow-y: scroll;
    margin: 10px;
    height: 100px;
    resize: none;
  }

  .scrollabletd{
    width: 100px;
    white-space: nowrap;
    overflow-x: scroll;
    padding: 50px;
    -webkit-overflow-scrolling: touch;
  }

  .modal {
    margin-top: 100px;
  }

  .o_dropdown_menu {
    min-width: calc(40vh - 200px);
    overflow: auto;
  }

  .d-sm-inline {
    display: inline !important;
  }

  .navbar .navbar-nav > li > a {
    line-height: 28px;
    color: var(--col-navbar-default-navbar-nav-li-a-white);
    font-size: 15px;
    line-height: 30px;
    font-weight: 900;
    cursor: pointer;
  }

  .mainpanel {
    margin-top: 30px;
  }

  .sidenav {
    display: none;
  }

  .staticnav {
    height: 240px;
    background-color: var(--col-staticnav-purewhite);
    border-bottom: 0.01px solid var(--col-staticnav-silver);
  }

  .breadcrumb1 {
    background-color: var(--col-breadcrump1-bg-color);
    display: inline-block;
    position: absolute;
    right: 40px;
    padding: 1px;
    padding-right: 18px;
  }
}

@media (min-width: 601px) {
  .mainpanel {
    margin-top: 10px;
  }

  .breadcrumb1 {
    background-color: var(--col-breadcrump1-bg-color);
    display: inline-block;
    position: absolute;
    right: 50px;
    padding: 1px;
    padding-right: 18px;
  }

  .containerfooter {
    max-width: 1140px;
  }

  .navbar .o_menu_systray > li > a {
    line-height: 28px;
    color: var(--col-navbar-default-navbar-nav-li-a-white);
    font-size: 15px;
    line-height: 30px;
    font-weight: 900;
    cursor: pointer;
  }

  ul.o_menu_systray {
    float: right;
  }

  .modal {
    margin-top: 30px;
  }

  .modal-dialog {
    width: 1000px;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
  }

  .navbar-default {
    background-image: linear-gradient(to right, var(--col-navbar-default-orange), var(--col-navbar-default-red));
    min-height: 30px;
    height: 30px;
  }

  .o_dropdown_menu {
    min-width: calc(40vh - 200px);
    overflow: auto;
  }

  .navbar-brand {
    padding: 0 15px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 900;
    cursor: pointer;
  }

  .staticnav {
    height: 100px;
    background-color: var(--col-staticnav-purewhite);
    border-bottom: 0.01px solid var(--col-staticnav-silver);
  }

  .staticnav-new {
    height: 140px;
    background-color: var(--col-staticnav-purewhite);
    border-bottom: 0.01px solid var(--col-staticnav-silver);
  }

  .margin-nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    border-top: 1px solid var(--col-margin-nav-lighgrey);
  }

  .navbar .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 28px;
    color: var(--col-navbar-default-navbar-nav-li-a-white);
    font-size: 15px;
    line-height: 30px;
    font-weight: 900;
    cursor: pointer;
  }

  input.required {
    background-color: var(--col-input-required-bangi);
    border: none !important;
    border-radius: 1px;
    height: 25px;
    width: 400px;
  }

  select.required {
    background-color: var(--col-select-required-bangi);
    border: none !important;
    border-radius: 1px;
    height: 25px;
    width: 400px;
    padding: 1px;
  }

  select.required:focus {
    background-color: var(--col-select-required-bangi);
    border: none !important;
    border-radius: 1px;
    height: 25px;
    width: 400px;
    padding: 1px;
    border-top: 1px solid var(--col-select-required-bangi);
    border-left: 1px solid var(--col-select-required-bangi);
    border-right: 1px solid var(--col-select-required-bangi);
    border-radius: 1px;
    border-bottom: 2px solid var(--col-select-required-border-or);
    box-shadow: 0 2px 0 0 var(--col-select-required-border-or);
  }


  textarea{
    border-top: 1px solid var(--col-input-txt-white);
    border-left: 1px solid var(--col-input-txt-white);
    border-right: 1px solid var(--col-input-txt-white);
    border-radius: 1px;
    border-bottom: 1px solid var(--col-input-txt-white);
    box-shadow: 0 1px 0 0 var(--col-input-txt-white);
  }

  textarea:focus {
    outline: none !important;
    border-top: 1px solid var(--col-input-txt-purewhite);
    border-left: 1px solid var(--col-input-txt-purewhite);
    border-right: 1px solid var(--col-input-txt-purewhite);
    border-radius: 1px;
    border-bottom: 1px solid var(--col-input-txt-focus-border-greyblack);
    box-shadow: 0 1px 0 0 var(--col-input-txt-focus-border-greyblack);
  }

  input.input-txt {
    border-top: 1px solid var(--col-input-txt-purewhite);
    border-left: 1px solid var(--col-input-txt-purewhite);
    border-right: 1px solid var(---col-input-txt-purewhite);
    border-radius: 1px;
    border-bottom: 1px solid var(--col-input-txt-white);
    box-shadow: 0 1px 0 0 var(--col-input-txt-white);
    height: 25px;
    width: 400px;
  }

  input.input-txt:focus {
    border-top: 1px solid var(--col-input-txt-purewhite);
    border-left: 1px solid var(--col-input-txt-purewhite);
    border-right: 1px solid var(--col-input-txt-purewhite);
    border-radius: 1px;
    border-bottom: 1px solid var(--col-input-txt-focus-border-greyblack);
    box-shadow: 0 1px 0 0 var(--col-input-txt-focus-border-greyblack);
    height: 25px;
    width: 400px;
  }

  .sidenav {
    display: block;
    padding: 0px;
    height: 250vh;
    background-color: var(--col-sidenav);
    overflow-y: scroll;
    cursor: pointer;
    color: var(--col-sidenav-white);
  }

  .sidenavtwo {
    display: block;
    padding: 0px;
    height: 250vh;
    background-color: var(--bgwhite);
    overflow-y: scroll;
    cursor: pointer;
    color: var(--pureblack);
  }

  .dropdown-menu {
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    transform: rotateX(90deg);
    transform-origin: top;
    opacity: 0;
    display: block;
    width: 100%;
    max-width: 100px;
    border: none;
  }

  .option {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 2px 29px;
    margin: 0;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 4 em;
    line-height: 1.8em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 2px 10px;
    background-color: inherit;
    margin: 0;
  }

  .open .dropdown-menu {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
    width: 100%;
    border: none;
  }

  .fa-caret-up {
    float: left;
    padding-top: 4px;
    padding-right: 10px;
  }

  .fa-caret-down {
    float: left;
    padding-top: 4px;
    padding-right: 10px;
  }
}

ul {
  padding-left: 0px;
  list-style: none;
}

.navbar-default .navbar-brand,
.navbar-custom .navbar-text {
  color: var(--col-navbar-defaul-navbar-brand-navbar-custom-navbar-text-white);
}

.icon-bar {
  background: var(--col-icon-bar-greyblack) !important;
  height: 3px !important;
}

body {
  font-family: "Roboto";
  background-color: var(--col-body-white);
}

.image-logo {
  width: 100%;
  max-width: 25px;
  object-fit: cover;
  padding: 3px;
}

.margin-top {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0px;
}

.navbar-brand a:hover {
  color: var(--col-navbar-brand-a-hover);
}

.navbar-collapse a:hover {
  color: var(--col-navbar-collapse-a-hover);
}

ul li:hover {
  color: var(--col-ul-li-a-hover);
}

.margin {
  margin-top: 25px;
}

.margin-login {
  margin-top: 100px;
}

.breadcrumb {
  background-color: var(--col-breadcrumb-purewhite);
}

.bg-light {
  background-color: var(--col-bglight-color) !important;
}

.breadcrumb {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 0;
  margin-bottom: 0;
  list-style: none;
  border-radius: 3px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
}

.oe_login_form {
  max-width: 300px;
  position: relative;
  margin: 50px auto;
}

.list-unstyled {
  list-style: none;
}

.pt16 {
  padding-top: 16px !important;
}

.pt-0 {
  padding: 2px !important;
}

.pb8 {
  padding-bottom: 8px !important;
}

input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: textfield;
  -webkit-rtl-ordering: logical;
  cursor: text;
  font: 400 13.3333px Arial;
}

input {
  margin: 0;
  font-family: inherit;
}

input[type="password"i] {
  -webkit-text-security: disc !important;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.btn-block {
  display: block;
  width: 100%;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.btn1 {
  width: 30px;
  height: 30px;
  padding: 20px;
}

.btn12 {
  width: 30px;
  height: 30px;
  padding-right:30px;
}

.asset-image-preview {
  max-height: 200px;
  height: 100%;
  object-fit: contain;
}

.asset-image-preview-two {
  max-height: 180px;
  height: 100%;
  object-fit: contain;
}

.asset-image-preview-new {
  max-height: 100%;
  height: 100%;
  object-fit: contain;
}
.outerContainer{
  max-width: 400px;
  width: 100%;
  object-fit: contain;
}

.asset-image-preview-view {
  max-width: 400px;
  width: 100%;
  object-fit: contain;
}

.asset-image-preview-view-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 400px;
  height: 100%;
  object-fit: contain;
}

.asset-image-preview-view-editor {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  width: 100%;
  max-height: 400px;
  height: 100%;
  overflow: auto;
  object-fit: contain;
}


.asset-image-preview-table {
  max-height: 40px;
  height: 100%;
  padding: 1px;
  object-fit: contain;
}

.asset-image-preview-2 {
  max-height: 100px;
  height: 100%;
  object-fit: contain;
}

.text-center {
  text-align: center !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  font-size: 20px;
  font-weight: 500;
  color: var(--col-ol-silver);
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: var(--col-btn-primary-white) !important;
  border-color: var(--col-btn-primary-white) !important;
  color: var(--col-btn-primary-blck) !important;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: var(--col-btn-secondary-red-hover) !important;
  border-color: var(--col-btn-secondary-red-hover) !important;
  color: var(--col-btn-secondary-white) !important;
}

.btn-primary {
  color: var(--col-btn-primary-purewhite);
  background-color: var(--col-btn-primary-background-color-or);
  border-color: var(--col-btn-primary-background-color-or);
}

.btn-primary-red {
  color: var(--col-btn-primary-purewhite);
  background-color: var(--col-btn-primary-background-color-red);
  border-color: var(--col-btn-primary-background-color-red);
}

.btn-primary-deep-orange {
  color: var(--col-btn-primary-purewhite);
  background-color: var(--col-btn-primary-background-color-deep-orange);
  border-color: var(--col-btn-primary-background-color-deep-orange);
}

.btn-primary-red:hover,
.btn-primary-red:focus,
.btn-primary-red:active {
  background-color: var(--col-btn-primary-white) !important;
  border-color: var(--col-btn-primary-white) !important;
  color: var(--col-btn-primary-blck) !important;
}

.btn-primary-deep-orange:hover,
.btn-primary-deep-orange:focus,
.btn-primary-deep-orange:active {
  background-color: var(--col-btn-primary-white) !important;
  border-color: var(--col-btn-primary-white) !important;
  color: var(--col-btn-primary-blck) !important;
}

.confirm {
  height: 30px;
  width: 100px;
  padding-left: 10px;
}

.o_searchview .o_searchview_input_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.o_searchview .o_searchview_input_container .o_searchview_autocomplete {
  position: absolute;
  top: 100%;
  left: auto;
  bottom: auto;
  right: auto;
  width: 100%;
}

.o_list_button_add {
  margin-top: 10px;
}

.o_button_import {
  margin-top: 10px;
}

.btn {
  border-radius: 0px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;

  padding: 0.375rem 0px 0.75rem;
  font-size: 15px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

button,
input {
  overflow: visible;
}

.btn-secondary {
  border: none;
  margin-left: 4px;
  font-size: 16px;
}

.btn-secondary {
  color: var(--col-btn-secondary-main-color-blck);
  background-color: var(--col-btn-secondary-bg-purewhite);
  border-color: var(--col-btn-secondary-bg-purewhite);
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

button,
select {
  text-transform: none;
}

button {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  align-items: flex-start;
  cursor: default;
  font: 400 13.3333px Arial;
}

.o_cp_searchview {
  width: 50%;
  min-height: 30px;
}

.active-pink-2 input.search:focus:not([readonly]) {
  border-bottom: 1px solid var(--col-active-pink-2-input-search-hover-red);
  border-radius: 1px;
  box-shadow: 0 1px 0 0 var(--col-active-pink-2-input-search-hover-red);
}

.active-pink input.search {
  border-top: 1px solid var(--col-active-pink-2-input-search-purewhite);
  border-left: 1px solid var(--col-active-pink-2-input-search-purewhite);
  border-right: 1px solid var(--col-active-pink-2-input-search-purewhite);
  border-radius: 1px;
  border-bottom: 1px solid var(--col-active-pink-2-input-search-border-red);
  box-shadow: 0 1px 0 0 var(--col-active-pink-2-input-search-border-red);
}


.icon {
  padding: 10px;
  color: var(--col-icon-main-color-light-red);
  min-width: 50px;
  text-align: center;
}

.breadcrumb-item {
  color: var(--col-breadcrumb-item-main-color-or);
}

.borrolink {
  color: var(--col-borrolink-main-color-or);
  cursor: pointer;
}

.show {
  display: block;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
  padding: 5px;
}

.o_control_panel .o_search_options > div > .btn-group {
  max-width: 33%;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid var(--col-dropdown-divider-silver);
}

.o_menu_item {
  margin: 0 0 0 5px;
  padding: 10px;
}

.o_menu_item a {
  color: var(--col-o_menu_item-a-greyblack);
  font-size: 15px;
}

.o_menu_item a:hover {
  color: var(--col-o_menu_item-a-hover-or);
  border: 0px;
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

input.required:focus {
  border-bottom: 1px solid var(--col-input-txt-focus-or);
  border-radius: 1px;
  box-shadow: 0 0 5px var(--col-input-txt-focus-or);
  height: 25px;
}

.o_form_label {
  font-weight: 400;
  padding-right: 50px;
  padding-top: 2px;
  font-size: 16px;
}

.o_form_label-2 {
  font-weight: 400;
  padding-top: 2px;
  font-size: 16spx;
}


td.o_td_label {
  width: 0%;
  padding: 0 10px 0 0;
}

div.o_td_label_one{
  width: 0%;
  padding: 0 5px 0 0;
}

.o_horizontal_separator {
  color: var(--col-o_horizontal_separator-or);
  font-weight: bold;
}

.o_horizontal_separator {
  font-size: 20px;
  margin: 5px 0;
}

.o_horizontal_separator-deep-or {
  font-size: 20px;
  margin: 5px 0;
}

.o_horizontal_separator-deep-or {
  color: var(--col-o_horizontal_separator-deep-or);
  font-weight: bold;
}
.o_horizontal_separator-deep-or-two {
  font-size: 16px;
  margin: 5px 8px 0 12px;
}

.o_horizontal_separator-deep-or-two {
  color: var(--col-o_horizontal_separator-deep-or);
  font-weight: bold;
}

.o_external_button {
  font-size: 19px;
  color: var(--col-o_external_button-or);
  background-color: var(--col-o_external_button-purewhite);
}

.o_external_button:hover {
  color: var(--col-o_external_button-hover-greyblack);
  border: none;
}

.ui-autocomplete .ui-menu-item.o_m2o_dropdown_option {
  padding-left: 20px;
}

.o_external_button:focus {
  color: var(--col-o_external_button-hover-greyblack);
  border: none;
}

.o_td_label {
  border-right: 1px solid var(--col-o-td-label-silver);
}

.padding-left {
  padding-left: 7px;
  padding-right: 0px;
}

.padding-left-3 {
  padding-left: 10px;
  padding-right: 0px;
}


.padding-1 {
  padding-left: 2px;
}

.padding-tot {
  padding-left: 5px;
  padding-right: 5px;
}


.modal-content {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal {
  position: absolute;
  z-index: 2000;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.modal-footer {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: left;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.footer {
  width: 100px;
  background-color: var(--col-footer-or);
  color: var(--col-footer-white);
}

.footer:hover {
  width: 100px;
  background-color: var(--col-footer-white);
  color: var(--col-footer-bg-hover-greyblack);
}

.footerdiscard {
  width: 100px;
  background-color: var(--col-footerdiscard-purewhite);
}

.footerdiscard:hover {
  width: 100px;
  background-color: var(--col-footerdiscard-hover-or);
  color: var(--col-footerdiscard-hover-white);
}

.breadcrumb1 a {
  display: inline-block;
  color: var(--col-breadcrump1-a-font-color);
  background-color: var(--col-breadcrump1-a-bg-color);
  padding: 5px 30px 5px 30px;
  position: 6elative;
  min-width: 50px;
  text-decoration: none;
  -webkit-clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%, 15px 50%);
  clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%, 15px 50%);
  margin-right: -17px;
}

.breadcrumb1 a#last {
  -webkit-clip-path: polygon(0 0, calc(100% - 0px) 0, 100% 50%, calc(100% - 0px) 100%, 0 100%, 15px 50%);
  clip-path: polygon(0 0, calc(100% - 0px) 0, 100% 50%, calc(100% - 0px) 100%, 0 100%, 15px 50%);
}

.breadcrumb1 a#invite-breadcrumb {
  color: var(--col-breadcrump1-a-font-invite-color);
  background-color: var(--col-breadcrump1-bg-color);
}

.breadcrumb1 a:hover {
  color: var(--col-breadcrump1-a-hover-font-color);
  background-color: var(--col-breadcrump1-a-hover-bg-color);
}

.breadcrumb1 a:first-child {
  -webkit-clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%);
  clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%);
  padding-left: 20px;
}

.label {
  height: 100%;
  width: 100%;
}

.o_list_view {
  position: relative;
  cursor: pointer;
  background-color: var(--col-table-o-list-view-bg-color);
  margin-bottom: 0px;
  border-collapse: initial;
  border-spacing: 0;
}

.table-responsive .o_list_view thead tr:nth-child(1) th,
.o_list_view.table thead > tr > th.o_column_sortable:hover {
  background-color: var(--col-table-o-list-view-header-color);
}

.new .o_list_view thead tr:nth-child(1) th,
.o_list_view.table thead > tr > th.o_column_sortable:hover {
  background-color: var(--col-table-o-list-view-header-color);
}

.o_column_sortable_1 {
  background-color: var(--col-table-o-list-view-header-color);
}

.new {
  height: 600px;
  overflow: auto;
}

.table-new {
  height: 100px;
  width: 100%;
  overflow-x: auto;
}




.table-new-margin {
  margin-top: 50px;
  height: 200px;
  width: 100%;
  overflow-x: scroll;
}

.table-new-2 {
  height: 100px;
  width: 100%;
  overflow-x: auto;
}

.tagtd {
  border-top: 1px solid var(--col-input-txt-purewhite);
  border-left: 1px solid var(--col-input-txt-purewhite);
  border-right: 1px solid var(---col-input-txt-purewhite);
  border-radius: 1px;
  border-bottom: 1px solid var(--col-input-txt-white);
  box-shadow: 0 1px 0 0 var(--col-input-txt-white);
  width: 100%;
  height: 25px;
}

.tagtd:focus {
  border-top: 1px solid var(--col-input-txt-purewhite);
  border-left: 1px solid var(--col-input-txt-purewhite);
  border-right: 1px solid var(--col-input-txt-purewhite);
  border-radius: 1px;
  border-bottom: 1px solid var(--col-input-txt-focus-border-greyblack);
  box-shadow: 0 1px 0 0 var(--col-input-txt-focus-border-greyblack);
  height: 25px;
}

.tagstotal {
  height: 50px;
  width:1000px;
  margin:10px;
  padding:5px;
  overflow-x: auto;
}

tr:nth-child(even) {
  background-color: var(--col-table-stripped-row-color);
}



.table-responsive .o_list_view tbody tr:nth-child(odd) td,
.o_list_view.table tbody {
  background-color: var(--col-table-stripped-odd-row-color);
}

.table-responsive .bg tbody tr {
  background-color: var(--main-color-blck);
}



.o_list_view .o_column_sortable {
  position: relative;
  user-select: none;
  font-family: FontAwesome;
  font-size: 15px;
}

.o_list_view .o_column_sortable:not(:empty)::after {
  margin-left: 6px;
}

.o_list_view .o_column_sortable::after {
  content: "\f0d7";
  opacity: 0;
}

.link {
  color: var(--col-link-color);
}

.hidden {
  display: none;
}

.unhide {
  display: block;
}

span.bigcheck-target {
  font-family: FontAwesome;
  padding: 10px;
}

input[type="checkbox"].bigcheck {
  display: none;
}

input[type="checkbox"].bigcheck + span.bigcheck-target {
  color: var(--col-inbox-checkbox);
  font-size: 25px;
  width: 25px;
  height: 25px;
  padding-right: 5px;
  cursor: pointer;
}

input[type="checkbox"].bigcheck + span.bigcheck-target:after {
  content: "\f096";
}

input[type="checkbox"].bigcheck:checked + span.bigcheck-target:after {
  content: "\f046";
}

span.bigcheck {
  display: block;
}

.rankselection {
  background-color: var(--col-select-required-bangi);
  border: none !important;
  border-radius: 1px;
  height: 25px;
  width: 100%;
  padding: 1px;
}

.input-txt-table {
  border-top: 1px solid var(--col-input-txt-purewhite);
  border-left: 1px solid var(--col-input-txt-purewhite);
  border-right: 1px solid var(---col-input-txt-purewhite);
  border-radius: 1px;
  border-bottom: 1px solid var(--col-input-txt-white);
  box-shadow: 0 1px 0 0 var(--col-input-txt-white);
  width: 100%;
  height: 25px;
}

.input-txt-table:focus {
  border-top: 1px solid var(--col-input-txt-purewhite);
  border-left: 1px solid var(--col-input-txt-purewhite);
  border-right: 1px solid var(--col-input-txt-purewhite);
  border-radius: 1px;
  border-bottom: 1px solid var(--col-input-txt-focus-border-greyblack);
  box-shadow: 0 1px 0 0 var(--col-input-txt-focus-border-greyblack);
  height: 25px;
}

.input-txt-table-deep-orange {
  border-top: 1px solid var(--col-input-txt-purewhite);
  border-left: 1px solid var(--col-input-txt-purewhite);
  border-right: 1px solid var(---col-input-txt-purewhite);
  border-radius: 1px;
  border-bottom: 1px solid var(--col-input-txt-white);
  box-shadow: 0 1px 0 0 var(--col-input-txt-white);
  width: 100%;
  height: 25px;
}

.input-txt-table-deep-orange:focus {
  border-top: 1px solid var(--col-input-txt-purewhite);
  border-left: 1px solid var(--col-input-txt-purewhite);
  border-right: 1px solid var(--col-input-txt-purewhite);
  border-radius: 1px;
  border-bottom: 1px solid var(--col-input-txt-focus-border-deeporange);
  box-shadow: 0 1px 0 0 var(--col-input-txt-focus-border-deeporange);
  height: 25px;
}

input.required-3 {
  background-color: var(--col-input-required-bangi);
  border: none !important;
  border-radius: 1px;
  height: 25px;
  width: 100%;
}

input.required-3:focus {
  border-bottom: 1px solid var(--col-input-txt-focus-or);
  border-radius: 1px;
  box-shadow: 0 0 5px var(--col-input-txt-focus-or);
}

input.required-30 {
  background-color: var(--col-input-required-bangi);
  border: none !important;
  border-radius: 1px;
  height: 25px;
  width: 80%;
}

input.required-30:focus {
  border-bottom: 1px solid var(--col-input-txt-focus-or);
  border-radius: 1px;
  box-shadow: 0 0 5px var(--col-input-txt-focus-or);
}


input.required-directory {
  background-color: var(--col-input-required-bangi);
  border: none !important;
  border-radius: 1px;
  height: 25px;
  margin-top: 12px !important;
  width: 100%;
}

input.required-directory:focus {
  border-bottom: 1px solid var(--col-input-txt-focus-or);
  border-radius: 1px;
  box-shadow: 0 0 5px var(--col-input-txt-focus-or);
}


.o_notebook {
  clear: both;
  margin-top: 10px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-tabs {
  border-bottom: 1px solid var(--col-nav-link-tab);
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  text-align: -webkit-match-parent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: var(--col-nav-color);
  background-color: var(--col-nav-tab-bg-color);
  border-color: var(--col-nav-tab-border-color-1) var(--col-nav-tab-border-color-2) var(--col-nav-tab-border-color-3);
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--main-color-new);
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.o_notebook .tab-content > .tab-pane {
  padding: 16px 0;
}

.tab-content > .active {
  display: block;
}

.margin-top-tab {
  margin-top: 10px;
}

.middle{
  margin-top: 10px;
}




.login-card-2 {
  margin-top: 350px;
  margin-left: 700px;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--col-bk-progress);
  z-index: 2;
}

.new-load{
  margin: 50px
}

.cursor-slider{
  cursor: pointer;
}

.div-tree {
  height: 500px;
  overflow: scroll;
}

.maringT{
  margin-top: 20px;
  
}

.marginR{
  margin-bottom: 10px;
}


input.input-txt-two {
  border-top: 1px solid var(--col-input-txt-purewhite);
  border-left: 1px solid var(--col-input-txt-purewhite);
  border-right: 1px solid var(---col-input-txt-purewhite);
  border-radius: 1px;
  border-bottom: 1px solid var(--col-input-txt-white);
  box-shadow: 0 1px 0 0 var(--col-input-txt-white);
  margin-top: 15px;
  height: 25px;
  width: 100%;
}

input.input-txt-two:focus {
  border-top: 1px solid var(--col-input-txt-purewhite);
  border-left: 1px solid var(--col-input-txt-purewhite);
  border-right: 1px solid var(--col-input-txt-purewhite);
  border-radius: 1px;
  border-bottom: 1px solid var(--col-input-txt-focus-border-greyblack);
  box-shadow: 0 1px 0 0 var(--col-input-txt-focus-border-greyblack);
  height: 25px;
  width: 100%;
}

        

.input-txt-table {
  border-top: 1px solid var(--col-input-txt-purewhite);
  border-left: 1px solid var(--col-input-txt-purewhite);
  border-right: 1px solid var(---col-input-txt-purewhite);
  border-radius: 1px;
  border-bottom: 1px solid var(--col-input-txt-white);
  box-shadow: 0 1px 0 0 var(--col-input-txt-white);
  width: 100%;
  height: 25px;
}

.input-txt-table:focus {
  border-top: 1px solid var(--col-input-txt-purewhite);
  border-left: 1px solid var(--col-input-txt-purewhite);
  border-right: 1px solid var(--col-input-txt-purewhite);
  border-radius: 1px;
  border-bottom: 1px solid var(--col-input-txt-focus-border-greyblack);
  box-shadow: 0 1px 0 0 var(--col-input-txt-focus-border-greyblack);
  height: 25px;
}

.big-text {
  font-size: 1.3em;
}

.bold {
  font-weight: bold;
  background-color:var(--col-btn-span);
  color:var(--col-btn-span-white);
  border:var(--col-btn-span);
}

.paddingRow{
  margin: 7px;
}

.btn-span{
  width:40px;
  height:40px;
  padding: 10px;
  border-radius:50%;
  border:var(--col-btn-span-white);
}

.btn-next{
  height: 40px;
  font-size: 15px;
  font-weight: 800;
  color:var(--col-next);
  border:var(--col-btn-span-white);
}

.btn-next:hover,
.btn-next:focus,
.btn-next:active{
  color: var(--col-btn-span-hover) !important;
}
.btn-span:hover,
.btn-span:focus,
.btn-span:active {
  background-color: var(--col-btn-span-hover) !important;
  border-color: var(--col-btn-span-hover) !important;
  color: var(--col-btn-span-white) !important;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
}

.grid-container-two {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding-left: 30px;
}
.grid-item {
  text-align: center;
}

.grid-item-two {
  text-align: center;
}

.code{
  font-family: "Calibre";
  color:var(--col-code-title);
  overflow: hidden;
  text-overflow: ellipsis;
  height:40px;
  font-size: small;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.codedata{
  color:var(--main-color-red)
}
.fixed{
  width:350px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.margin-search {
  margin-top: 100px;
}

.padding-btm{
  margin-top: 10px;
}
.maring-tp{
  margin-top:2px;
  margin-bottom:2px;
}

.scrollable{
  overflow-y: scroll;
  height: 900px
}

.padding-gap{
  margin-bottom:5px;
}

.hrmargin{
  margin-bottom: 40px;
}

.margin{
  margin:50px;
}

.outer {
  width: 1300px;
  height: 200px;
  margin-left: 20px;
  padding: 20px;
  background-color:var(--bgwhite);
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.outer div {
  width: 18%;
  float: none;
  height: 90%;
  margin: 0 0.25%;
  display: inline-block;
  zoom: 1;
}

.btn-new {
  background: var(--deep-orange) !important;
  color: var(--purewhite);
  border-radius: 2px;
  height: 30px;
  font-size: 15px;
  width: 50px;
}

.maringtop{
  margin-top: 100px;
}