{{#main-navbar tasksController=this}}{{/main-navbar}}
<div class="margin-top">
  <div class="col-sm-2 sidenav">
    <br />
    <br />
    <div class="col-sm-12">
      {{#nav-lending}}{{/nav-lending}}
    </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-10">
    <div class="row margin">
      <div class="col-12 col-sm-12 col-xs-12 staticnav-new padding-0">
        <div class="col-12 col-sm-6 col-xs-12 mainpanel">
          <ol class="breadcrumb" role="navigation">
            <li>
              <a class="borrolink" onclick={{action "discardroute"}}>
                Home
              </a>
            </li>
            <li class="breadcrumb-item active">
              Advanced Search
            </li>
          </ol>
        </div>
        <div class="col-12 col-sm-12 col-xs-12 margin-nav">
        </div>
        <div class="col-12 col-sm-12 col-xs-12">
        </div>
      </div>
      <div
        class="col-12 col-sm-12 col-xs-12  mainpanel  margin-search padding-0"
      >
        <PaperCard as |card|>
          <card.content @class="layout-row layout-align-space-between">
            <div class="col-sm-12 col-xs-12 col-12">
              <div class="row">
                <div class="col-sm-4 col-xs-12 col-12">
                  <div class="o_horizontal_separator-deep-or">
                    Search
                  </div>
                </div>
                <div class="col-sm-6 col-6 col-xs-6">
                  <div class="col-sm-9 col-xs-2 col-2"></div>
                  <div class="col-sm-3 col-xs-2 col-2">
                    <input
                      type="radio"
                      id="male1"
                      name="gender1"
                      value="male1"
                      checked
                      onchange={{action "choosentitle" "or"}}
                    />
                    <label for="male1">
                      OR
                    </label>
                    <input
                      type="radio"
                      id="female1"
                      name="gender1"
                      value="female1"
                      onchange={{action "choosentitle" "and"}}
                    />
                    <label for="female1">
                      AND
                    </label>
                    <br />
                  </div>
                </div>
              </div>
              <hr />
              <div class="row scrollable">
                <div class="col-sm-12 col-xs-12 col-12">
                  <div class="row">
                    <div class="col-sm-12">
                      {{#object-autocomplete
                        modelname="personnel"
                        listid="personnels"
                        array=bdno
                        keyaccess="bdno"
                        label="Search with BDNo."
                        classNames="col-sm-12"
                        placeholder="BD NO."
                      }}{{/object-autocomplete}}
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-12">
                      {{#object-other-tags
                        array=titles
                        placeholder="Title"
                        classNames="col-sm-12"
                        label="Search for Asset Title"
                      }}{{/object-other-tags}}
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-12">
                      {{#object-autocomplete
                        modelname="personnel"
                        listid="personnelsname"
                        array=names
                        placeholder="Name"
                        label="Search for Name."
                        classNames="col-sm-12"
                      }}{{/object-autocomplete}}
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-12">
                      {{#object-autocomplete
                        modelname="event"
                        listid="events"
                        array=event
                        placeholder="Events"
                        label="Search for Events."
                        classNames="col-sm-12"
                      }}{{/object-autocomplete}}
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-12">
                      {{#object-autocomplete
                        modelname="location"
                        listid="locations"
                        array=locations
                        placeholder="Locations"
                        label="Search for locations."
                        classNames="col-sm-12"
                      }}{{/object-autocomplete}}
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-6 col-6 col-xs-6"></div>
                  </div>
                </div>
              </div>

              <hr />
              <div class="row">
                <div class="col-sm-8 col-xs-12 col-12"></div>
                <div class="col-sm-2 col-2 col-xs-2">
                  <button
                    class="col-sm-12 col-12 col-xs-12 btn btn-primary-red o_list_button_add"
                    type="button"
                    data-original-title=""
                    title=""
                    onclick={{action "searchtitle"}}
                  >
                    <span class="d-none d-sm-inline">
                      Search
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </card.content>
        </PaperCard>
      </div>
    </div>
  </div>
</div>