{{#main-navbar tasksController=this}}{{/main-navbar}}
<div class="margin-top">
  <div class="col-sm-2 sidenav">
    <br />
    <br />
    <div class="col-sm-12">
      {{#nav-lending}}{{/nav-lending}}
    </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-10">
    <div class="row margin">
      <div class="col-12 col-sm-12 col-xs-12 staticnav-new padding-0">
        <div class="col-12 col-sm-6 col-xs-12 mainpanel">
          <ol class="breadcrumb" role="navigation">
            <li>
              <a class="borrolink" onclick={{action "discardroute"}}>
                Aircrafts
              </a>
            </li>
            <li class="breadcrumb-item active">
              View
            </li>
          </ol>
          <button
            class="col-sm-2 col-2 col-xs-2 btn btn-primary o_list_button_add"
            type="button"
            data-original-title=""
            title=""
            onclick={{action "edit" aircraft.id}}
          >
            <span class="d-none d-sm-inline">
              Edit
            </span>
          </button>
          <button
            class="col-sm-2 col-2 col-xs-2 btn btn-secondary o_button_import"
            type="button"
            onclick={{action "discardroute"}}
          >
            Discard
          </button>
        </div>
        <div class="col-12 col-sm-12 col-xs-12 margin-nav">
          <div class="breadcrumb1">
            {{#if (eq aircraft.status "draft")}}
              <a
                href="#"
                data-toggle="modal"
                data-target="#inviteModal"
                id="invite-breadcrumb"
              >
                Draft
              </a>
            {{else}}
              <a
                href="#"
                data-bind="css:{selected:applicationsFilter() === 'new'}"
              >
                <label
                  class="radio-inline"
                  data-bind="css:{selected:applicationsFilter() === 'new'}"
                >
                  Draft
                </label>
              </a>
            {{/if}}
            {{#if (eq aircraft.status "approved")}}
              <a
                href="#"
                data-toggle="modal"
                data-target="#inviteModal"
                id="invite-breadcrumb"
              >
                Approved
              </a>
            {{else}}
              <a
                href="#"
                data-bind="css:{selected:applicationsFilter() === 'new'}"
              >
                <label
                  class="radio-inline"
                  data-bind="css:{selected:applicationsFilter() === 'new'}"
                >
                  Approved
                </label>
              </a>
            {{/if}}

            {{#if (eq aircraft.status "approved")}}
              <a
                href="#"
                data-toggle="modal"
                data-target="#inviteModal"
                id="invite-breadcrumb"
              >
                Declined
              </a>
            {{else}}
              <a
                href="#"
                data-bind="css:{selected:applicationsFilter() === 'new'}"
              >
                <label
                  class="radio-inline"
                  data-bind="css:{selected:applicationsFilter() === 'new'}"
                >
                  Declined
                </label>
              </a>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-xs-12  mainpanel padding-0">
        <PaperCard as |card|>
          <card.content @class="layout-row layout-align-space-between">
            {{#image-uploader
              placeholder="Image Name"
              imagearray=aircraft.imageurls
              isReadonly=true
            }}
              {{#each flashMessages.queue as |flash|}}
                {{flash-message flash=flash}}
              {{/each}}
            {{/image-uploader}}
          </card.content>
        </PaperCard>
        <PaperCard as |card|>
          <card.content @class="layout-row layout-align-space-between">
            <div class="col-sm-6">
              <table>
                <tbody>
                  <tr>
                    <td colspan="2" style="width: 100%;">
                      <div class="o_horizontal_separator-deep-or">
                        {{aircraft.aircraftid}}
                      </div>
                    </td>
                  </tr>
                  {{#object-id
                    data=aircraft.aircraftid
                    label="Aircraft ID"
                    isReadonly=true
                  }}{{/object-id}}
                  {{#object-title
                    label="Name"
                    title=aircraft.name
                    minlength=1
                    format="^[a-zA-Z0-9\\s.@-_']*$"
                    tableLabelClass="col-sm-5 col-xs-12 col-12 o_td_label"
                    tdClass="col-sm-7 col-xs-12 col-12 padding-left"
                    isReadonly=true
                  }}{{/object-title}}
                </tbody>
              </table>
            </div>
            <div class="col-sm-6">
              <table>
                <tbody>
                  <tr>
                    <td colspan="2" style="width: 100%;">
                      <div class="o_horizontal_separator-deep-or">
                        /
                      </div>
                    </td>
                  </tr>
                  {{#object-textarea
                    label="Description"
                    data=aircraft.description
                    tableLabelClass="col-sm-5 col-xs-12 col-12 o_td_label"
                    tdClass="col-sm-7 col-xs-12 col-12 padding-left"
                    isReadonly=true
                  }}{{/object-textarea}}
                </tbody>
              </table>
            </div>
          </card.content>
        </PaperCard>
      </div>
    </div>
  </div>
</div>
{{#message-component}}{{/message-component}}