{{#main-navbar tasksController=this}}{{/main-navbar}}
<div class="margin-top">
  <div class="col-sm-2 sidenav">
    <br />
    <br />
    <div class="col-sm-12">
      {{#nav-lending}}{{/nav-lending}}
    </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-10">
    <div class="row margin">
      <div class="col-12 col-sm-12 col-xs-12 staticnav-new padding-0">
        <div class="col-12 col-sm-6 col-xs-12 mainpanel">
          <ol class="breadcrumb" role="navigation">
            <li>
              <a class="borrolink" onclick={{action "discardroute"}}>
                Aircrafts
              </a>
            </li>
            <li class="breadcrumb-item active">
              New
            </li>
          </ol>
          <button
            class="col-sm-2 col-2 col-xs-2 btn btn-primary o_list_button_add"
            type="button"
            data-original-title=""
            title=""
            onclick={{action "edit" aircraft.id}}
          >
            <span class="d-none d-sm-inline">
              Edit
            </span>
          </button>
          <button
            class="col-sm-2 col-2 col-xs-2 btn btn-secondary o_button_import"
            type="button"
            onclick={{action "discardroute"}}
          >
            Discard
          </button>
        </div>
        <div class="col-12 col-sm-12 col-xs-12 margin-nav">
          {{#if
            (not-eq (determine-action nextactions "Approve" "aircraft") "none")
          }}
            <button
              class="col-sm-2 col-2 col-xs-2 btn btn-primary confirm"
              type="button"
              data-original-title=""
              title=""
            >
              <span class="d-none d-sm-inline">
                {{determine-action nextactions "Approve" "aircraft"}}
              </span>
            </button>
          {{/if}}

          <div class="breadcrumb1">
            <a
              data-toggle="modal"
              data-target="#inviteModal"
              id="invite-breadcrumb"
            >
              Draft
            </a>

            <a data-bind="css:{selected:applicationsFilter() === 'new'}">
              <label
                class="radio-inline"
                data-bind="css:{selected:applicationsFilter() === 'new'}"
              >
                Approved
              </label>
            </a>

            <a
              data-bind="css:{selected:applicationsFilter() === 'connected'}"
              id="last"
            >
              <label
                class="radio-inline"
                data-bind="css:{selected:applicationsFilter() === 'connected'}"
              >
                Declined
              </label>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-xs-12  mainpanel padding-0">
        <PaperCard as |card|>
          <card.content @class="layout-row layout-align-space-between">
            {{#image-uploader placeholder="Image Name" imagearray=imagearray}}
              {{#each flashMessages.queue as |flash|}}
                {{flash-message flash=flash}}
              {{/each}}
            {{/image-uploader}}
          </card.content>
        </PaperCard>
        <PaperCard as |card|>
          <card.content @class="layout-row layout-align-space-between">
            <div class="col-sm-6">
              <table>
                <tbody>
                  <tr>
                    <td colspan="2" style="width: 100%;">
                      <div class="o_horizontal_separator-deep-or">
                        /
                      </div>
                    </td>
                  </tr>
                  {{#object-id data=aircraftid label="Aircraft ID"}}
                  {{/object-id}}
                  {{#object-title
                    label="Name"
                    title=aircraft.name
                    minlength=1
                    format="^[a-zA-Z0-9\\s.@-_']*$"
                    tableLabelClass="col-sm-5 col-xs-12 col-12 o_td_label"
                    tdClass="col-sm-7 col-xs-12 col-12 padding-left"
                  }}{{/object-title}}
                </tbody>
              </table>
            </div>
            <div class="col-sm-6">
              <table>
                <tbody>
                  <tr>
                    <td colspan="2" style="width: 100%;">
                      <div class="o_horizontal_separator-deep-or">
                       /
                      </div>
                    </td>
                  </tr>
                  {{#object-textarea
                    label="Description"
                    data=aircraft.description
                    tableLabelClass="col-sm-5 col-xs-12 col-12 o_td_label"
                    tdClass="col-sm-7 col-xs-12 col-12 padding-left"
                  }}{{/object-textarea}}
                </tbody>
              </table>
            </div>
          </card.content>
        </PaperCard>
      </div>
    </div>
  </div>
</div>
{{#message-component}}{{/message-component}}