{{#main-navbar tasksController=this}}{{/main-navbar}}
<div class="margin-top">
  <div class="col-sm-2 sidenav">
    <br />
    <br />
    <div class="col-sm-12">
      {{#nav-lending}}{{/nav-lending}}
    </div>
  </div>

  <div class="col-12 col-xs-12 col-sm-10">
    <div class="row margin">
      <div class="col-12 col-sm-12 col-xs-12 staticnav padding-0">
        <div class="col-12 col-sm-6 col-xs-12 mainpanel">
          <ol class="breadcrumb" role="navigation">
            <li class="breadcrumb-item active">
              Aircarfts
            </li>
          </ol>

          {{#if
            (not-eq (determine-action nextactions "Create" "aircraft") "none")
          }}
            <button
              accesskey="c"
              class="col-sm-2 col-2 col-xs-2 btn btn-primary o_list_button_add"
              type="button"
              data-original-title=""
              title=""
              onclick={{action "createroute"}}
            >
              <i title="Create" class="fa fa-plus"></i>
              <span class="d-none d-sm-inline">
                {{determine-action nextactions "Create" "aircraft"}}
              </span>
            </button>
          {{/if}}

          {{#if
            (not-eq (determine-action nextactions "Import" "aircraft") "none")
          }}
            <button
              class="col-sm-2 col-2 col-xs-2 btn btn-secondary o_button_import"
              type="button"
            >
              {{determine-action nextactions "Import" "aircraft"}}
            </button>
          {{/if}}
        </div>
        <div class="col-12 col-sm-6 col-xs-12 mainpanel padding-0">
          <div class="md-form active-pink active-pink-2 col-sm-12">
            <input
              class="form-control search"
              type="text"
              placeholder="Search..."
              aria-label="Search...."
            />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="table-responsive">
        <table
          class="o_list_view table table-sm table-hover table-striped o_list_view_ungrouped"
        >
          <thead>
            <tr>
              <th class="o_column_sortable">
                Aircraft ID
              </th>
              <th class="o_column_sortable">
                Name
              </th>
              <th class="o_column_sortable">
                Description
              </th>
              <th class="o_column_sortable">
                Status
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each aircrafts as |aircraft|}}
              <tr>
                <td>
                  {{#if
                    (eq
                      (determine-crud-action
                        nextcrudactions aircraft.status "view"
                      )
                      "view"
                    )
                  }}
                    <a class="link" onclick={{action "detail" aircraft.id}}>
                      {{aircraft.aircraftid}}
                    </a>
                  {{else}}
                    {{personnel.aircraftid}}
                  {{/if}}
                </td>
                <td>
                  {{aircraft.name}}
                </td>
                <td>
                  {{aircraft.description}}
                </td>
                <td>
                  {{aircraft.status}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>