{{#main-navbar tasksController=this}}{{/main-navbar}}
<div class="margin-top">
  <div class="col-sm-2 sidenavtwo">
    <br />
    <br />
    <div class="col-sm-12">
      {{#gal-directory data=directory}}{{/gal-directory}}
    </div>
  </div>

  <div class="col-12 col-xs-12 col-sm-10">
    <div class="row margin">
      <div class="col-12 col-sm-12 col-xs-12 staticnav padding-0">
        <div class="col-12 col-sm-6 col-xs-12 mainpanel">
          <ol class="breadcrumb" role="navigation">
            <li>
              <a class="borrolink" onclick={{action "discardroute"}}>
                Home
              </a>
            </li>
            <li class="breadcrumb-item active">
              Assets
            </li>
          </ol>

          {{!-- {{#if (not-eq (determine-action nextactions "Create" "asset") "none")
          }}
            <button
              accesskey="c"
              class="col-sm-2 col-2 col-xs-2 btn btn-primary o_list_button_add"
              type="button"
              data-original-title=""
              title=""
              onclick={{action "createroute"}}
            >
              <i title="Create" class="fa fa-plus"></i>
              <span class="d-none d-sm-inline">
                {{determine-action nextactions "Create" "asset"}}
              </span>
            </button>
          {{/if}} --}}

          {{#if (not-eq (determine-action nextactions "Import" "asset") "none")
          }}
            <button
              class="col-sm-2 col-2 col-xs-2 btn btn-secondary o_button_import"
              type="button"
            >
              {{determine-action nextactions "Import" "asset"}}
            </button>
          {{/if}}
        </div>
        <div class="col-12 col-sm-6 col-xs-12 mainpanel padding-0">
          <div class="md-form active-pink active-pink-2 col-sm-12">
            <input
              class="form-control search"
              type="text"
              placeholder="Search..."
              aria-label="Search...."
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      {{#each flashMessages.queue as |flash|}}
        {{flash-message flash=flash}}
      {{/each}}
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="col-sm-12">
        </div>
      </div>
      <div class="col-sm-8">
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-12 col-xs-12  mainpanel padding-0">
        <div class="col-sm-4 col-xs-12 col-12">
          <div class="row">
            <div class="grid-container-two">
              {{#each assets as |data|}}
                <div class="grid-item-two">
                  <img src={{data.imageurls}} class="asset-image-preview-two" />
                  <code class="code">
                    {{#link-to
                      "asset-view"
                      data.id
                      target="_blank"
                      tagName="a"
                      class="link"
                    }}
                      {{data.title}}
                    {{/link-to}}
                  </code>
                  <code class="codedata">
                    {{#if (eq data.isrecognised "0")}}
                      Not Tagged
                    {{else}}
                      Tagged
                    {{/if}}
                  </code>
                </div>
              {{/each}}
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-12">
              {{#each-in assets.meta.pagination as |key value|}}
                {{#if (eq (determine-pagination value.number) true)}}
                  {{#link-to "asset" (query-params page=value.number)}}
                    <button id="pagi" class="btn-next">
                      {{key}}
                    </button>
                  {{/link-to}}
                {{else}}
                  <button id="pagi" class="btn-new-disabled" disabled>
                    {{key}}
                  </button>
                {{/if}}
              {{/each-in}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>