{{#main-navbar tasksController=this}}{{/main-navbar}}
<div class="margin-top">
  <div class="row" id="overlay">
    <div class="col-xs-6 col-sm-6 new-load">
      <div class="col-xs-6 col-sm-6 login-card-2">
        <PaperProgressCircular @primary={{true}} @diameter={{100}} />
      </div>
    </div>
  </div>
  <div class="col-sm-2 sidenav">
    <br />
    <br />
    <div class="col-sm-12">
      {{#nav-lending}}{{/nav-lending}}
    </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-10">
    <div class="row margin">
      <div class="col-12 col-sm-12 col-xs-12 staticnav-new padding-0">
        <div class="col-12 col-sm-6 col-xs-12 mainpanel">
          <ol class="breadcrumb" role="navigation">
            <li>
              <a class="borrolink" onclick={{action "discardroute"}}>
                Asset
              </a>
            </li>
            <li class="breadcrumb-item active">
              New
            </li>
          </ol>
          <button
            class="col-sm-2 col-2 col-xs-2 btn btn-primary o_list_button_add"
            type="button"
            data-original-title=""
            title=""
            onclick={{action "save" newmodel assetid}}
          >
            <span class="d-none d-sm-inline">
              Save
            </span>
          </button>
          <button
            class="col-sm-2 col-2 col-xs-2 btn btn-secondary o_button_import"
            type="button"
            onclick={{action "discardroute"}}
          >
            Discard
          </button>
        </div>
        <div class="col-12 col-sm-12 col-xs-12 margin-nav">
          {{#if (not-eq (determine-action nextactions "Approve" "asset") "none")
          }}
            <button
              class="col-sm-2 col-2 col-xs-2 btn btn-primary confirm"
              type="button"
              data-original-title=""
              title=""
            >
              <span class="d-none d-sm-inline">
                {{determine-action nextactions "Approve" "asset"}}
              </span>
            </button>
          {{/if}}

          <div class="breadcrumb1">
            <a
              data-toggle="modal"
              data-target="#inviteModal"
              id="invite-breadcrumb"
            >
              Draft
            </a>

            <a data-bind="css:{selected:applicationsFilter() === 'new'}">
              <label
                class="radio-inline"
                data-bind="css:{selected:applicationsFilter() === 'new'}"
              >
                Approved
              </label>
            </a>

            <a
              data-bind="css:{selected:applicationsFilter() === 'connected'}"
              id="last"
            >
              <label
                class="radio-inline"
                data-bind="css:{selected:applicationsFilter() === 'connected'}"
              >
                Declined
              </label>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-xs-12  mainpanel padding-0">
        <PaperCard as |card|>
          <card.content @class="layout-row layout-align-space-between">
            <div class="col-sm-1 col-xs-12 col-12"></div>
            {{#object-canvas
              label="Marked All"
              image=image
              recogArray=personnals
              ifimageEdited=true
              route="asset-new"
            }}
              {{#each flashMessages.queue as |flash|}}
                {{flash-message flash=flash}}
              {{/each}}
            {{/object-canvas}}
            <div class="col-sm-3 col-xs-12 col-12">
              <table class="table-new-margin">
                <tbody>
                  {{#each personnals as |personnal|}}
                    <tr>
                      <td>
                        {{personnal.sn}} :
                      </td>
                      <td>
                        {{personnal.bdno}} - {{personnal.name}}
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </card.content>
        </PaperCard>
        <PaperCard as |card|>
          <card.content @class="layout-row layout-align-space-between">
            <div class="col-sm-6 col-xs-12 col-12">
              <table>
                <tbody>
                  <tr>
                    <td colspan="2" style="width: 100%;">
                      <div class="o_horizontal_separator-deep-or">
                        /
                      </div>
                    </td>
                  </tr>
                  {{#object-id
                    data=assetid
                    isReadonly=true
                    label="Assert ID."
                    rowid=assetid
                  }}{{/object-id}}
                  {{#object-title
                    title=(image-name assetid)
                    isReadonly=true
                    label="Image name"
                  }}{{/object-title}}
                  {{#single-selection
                    label="Secrecy Level"
                    modelname="secrecy"
                    setValue=newmodel.secrecylevel
                  }}{{/single-selection}}
                </tbody>
              </table>
            </div>
            <div class="col-sm-6 col-xs-12 col-12">
              <table>
                <tbody>
                  <tr>
                    <td colspan="2" style="width: 100%;">
                      <div class="o_horizontal_separator-deep-or">
                        /
                      </div>
                    </td>
                  </tr>

                  {{#object-title title=newmodel.title label="Title"}}
                  {{/object-title}}
                  {{#object-textarea
                    label="Description"
                    data=newmodel.description
                  }}{{/object-textarea}}

                  {{#date-field dt=newmodel.taken label="Picture Taken Date"}}
                  {{/date-field}}
                </tbody>
              </table>
            </div>
          </card.content>
        </PaperCard>

        <PaperCard as |card|>
          <card.title as |title|>
            <div class="o_notebook">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a
                    data-toggle="tab"
                    disable_anchor="true"
                    href="#notebook_page_89"
                    class="nav-link active show"
                    role="tab"
                    aria-selected="true"
                    id="personnel"
                    onclick={{action "personnel"}}
                  >
                    Personnel
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    id="event"
                    data-toggle="tab"
                    disable_anchor="true"
                    href="#notebook_page_90"
                    class="nav-link"
                    role="tab"
                    aria-selected="false"
                    onclick={{action "events"}}
                  >
                    Event Tags
                  </a>
                </li>

                <li class="nav-item">
                  <a
                    id="location"
                    data-toggle="tab"
                    disable_anchor="true"
                    href="#notebook_page_91"
                    class="nav-link"
                    role="tab"
                    aria-selected="false"
                    onclick={{action "location"}}
                  >
                    Location Tags
                  </a>
                </li>

                <li class="nav-item">
                  <a
                    id="air"
                    data-toggle="tab"
                    disable_anchor="true"
                    href="#notebook_page_92"
                    class="nav-link"
                    role="tab"
                    aria-selected="false"
                    onclick={{action "aircraft"}}
                  >
                    Aircraft
                  </a>
                </li>

                <li class="nav-item">
                  <a
                    id="gal"
                    data-toggle="tab"
                    disable_anchor="true"
                    href="#notebook_page_93"
                    class="nav-link"
                    role="tab"
                    aria-selected="false"
                    onclick={{action "gallery"}}
                  >
                    Gallery
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    id="studio"
                    data-toggle="tab"
                    disable_anchor="true"
                    href="#notebook_page_94"
                    class="nav-link"
                    role="tab"
                    aria-selected="false"
                    onclick={{action "studioTab"}}
                  >
                    Studio Photography
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    id="othertags"
                    data-toggle="tab"
                    disable_anchor="true"
                    href="#notebook_page_95"
                    class="nav-link"
                    role="tab"
                    aria-selected="false"
                    onclick={{action "otherTagsTab"}}
                  >
                    Other Tags
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    id="comment"
                    data-toggle="tab"
                    disable_anchor="true"
                    href="#notebook_page_96"
                    class="nav-link"
                    role="tab"
                    aria-selected="false"
                    onclick={{action "commentTab"}}
                  >
                    Comments
                  </a>
                </li>
              </ul>
            </div>
          </card.title>
          <card.content>
            <div class="tab-content">
              <div class="tab-pane active show" id="notebook_page_89">
                <div class="col-sm-12 col-xs-12 col-12">
                  <div
                    class="col-sm-10 col-10 col-xs-10 o_horizontal_separator"
                  ></div>
                  <div class="col-sm-2 col-2 col-xs-2">
                  </div>
                </div>
                <div class="col-sm-12 col-xs-12 col-12 margin-top-tab">
                  <div class="row">
                    <div class="new">
                      <table
                        class="o_list_view table table-sm table-hover table-striped o_list_view_ungrouped"
                      >
                        <thead>
                          <tr>
                            <th class="o_column_sortable_1">
                            </th>
                            <th class="o_column_sortable">
                              SN
                            </th>
                            <th class="o_column_sortable_1">
                              BDNO
                            </th>
                            <th class="o_column_sortable_1">
                              Rank
                            </th>
                            <th class="o_column_sortable_1">
                              Name
                            </th>
                            <th class="o_column_sortable_1">
                              Rank in Picture
                            </th>
                            <th class="o_column_sortable_1">
                              Delete
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          {{#each personnals as |personnal|}}
                            {{#obj-row-personnel-asset
                              model=personnal
                              totalarray=personnals
                            }}{{/obj-row-personnel-asset}}
                          {{else}}

                          {{/each}}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="notebook_page_90">
                {{#object-autocomplete
                  modelname="event"
                  listid="categories"
                  array=event
                  placeholder="Select Event"
                }}{{/object-autocomplete}}
              </div>
              <div class="tab-pane" id="notebook_page_91">
                {{#object-autocomplete
                  modelname="location"
                  listid="locations"
                  array=locations
                  placeholder="Select Locations"
                }}{{/object-autocomplete}}
              </div>
              <div class="tab-pane" id="notebook_page_92">
                <div class="col-sm-12 col-xs-12 col-12">
                  <div
                    class="col-sm-10 col-10 col-xs-10 o_horizontal_separator"
                  ></div>
                  <div class="col-sm-2 col-2 col-xs-2">
                    <button
                      class="col-sm-12 col-12 col-xs-12 btn btn-primary-red o_list_button_add"
                      type="button"
                      data-original-title=""
                      title=""
                      onclick={{action "addaircraft"}}
                    >
                      <span class="d-none d-sm-inline">
                        Add
                      </span>
                    </button>
                  </div>
                </div>
                <div class="col-sm-12 col-xs-12 col-12 margin-top-tab">
                  <div class="row">
                    <div class="new">
                      <table
                        class="o_list_view table table-sm table-hover table-striped o_list_view_ungrouped"
                      >
                        <thead>
                          <tr>
                            <th class="o_column_sortable_11">
                              SN
                            </th>
                            <th class="o_column_sortable_1">
                              Aircraft
                            </th>
                            <th class="o_column_sortable_1">
                              Delete
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          {{#each aircrafts as |aircraft|}}
                            {{#object-row-aircraft
                              model=aircraft
                              totalarray=aircrafts
                            }}{{/object-row-aircraft}}
                          {{else}}

                          {{/each}}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="notebook_page_93">
                {{#obj-tree
                  data=directory
                  urldirectory=galurl
                  selectedDirectory=newmodel.directory
                  assetfilename=assetid
                }}{{/obj-tree}}
              </div>
              <div class="tab-pane" id="notebook_page_94">
                {{#object-studiophotography
                  studiocaption=newmodel.caption
                  studiophotography=newmodel.studiophotography
                }}{{/object-studiophotography}}
              </div>
              <div class="tab-pane" id="notebook_page_95">
                {{#object-other-tags array=othertags placeholder="Other Tags"}}
                {{/object-other-tags}}
              </div>
              <div class="tab-pane" id="notebook_page_96">
                <PaperCard as |card|>
                  <card.title as |title|>
                    <div class="col-sm-12 col-xs-12 col-12">
                      <div
                        class="col-sm-9 col-9 col-xs-9 o_horizontal_separator"
                      >
                        Comments
                      </div>
                      <button
                        class="col-sm-2 col-2 col-xs-2 btn btn-primary-red o_list_button_add"
                        type="button"
                        data-original-title=""
                        title=""
                        onclick={{action "addEventColumn"}}
                      >
                        <span class="d-none d-sm-inline">
                          Add
                        </span>
                      </button>
                    </div>
                  </card.title>

                  <card.content @class="layout-row layout-align-space-between">
                    <div class="col-sm-12 col-xs-12 col-12">
                      <div class="row">
                        <div class="new">
                          <table
                            class="o_list_view table table-sm table-hover table-striped o_list_view_ungrouped"
                          >
                            <thead>
                              <tr>
                                <th class="o_column_sortable">
                                  From
                                </th>
                                <th class="o_column_sortable">
                                  Comment
                                </th>
                                <th class="o_column_sortable_1">
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              {{#each componentNames as |componentName|}}
                                {{#object-comment
                                  model=componentName
                                  totalarray=componentNames
                                }}{{/object-comment}}
                              {{else}}

                              {{/each}}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </card.content>
                </PaperCard>
              </div>
            </div>
          </card.content>
        </PaperCard>
      </div>
    </div>
  </div>
</div>