{{#main-navbar tasksController=this}}{{/main-navbar}}
<div class="margin-top">
  <div class="col-sm-2 sidenav">
    <br />
    <br />
    <div class="col-sm-12">
      {{#nav-lending}}{{/nav-lending}}
    </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-10">
    <div class="row margin">
      <div class="col-12 col-sm-12 col-xs-12 staticnav-new padding-0">
        <div class="col-12 col-sm-6 col-xs-12 mainpanel">
          <ol class="breadcrumb" role="navigation">
            <li>
              <a class="borrolink" onclick={{action "discardroute"}}>
                Assets
              </a>
            </li>
            <li class="breadcrumb-item active">
              View
            </li>
          </ol>
          {{#if
            (eq
              (determine-crud-action nextcrudactions asset.status "edit") "edit"
            )
          }}
            <button
              class="col-sm-2 col-2 col-xs-2 btn btn-primary o_list_button_add"
              type="button"
              data-original-title=""
              title=""
              onclick={{action "edit" asset.id}}
            >
              <i title="Edit" class="fa fa-pencil"></i>
              <span class="d-none d-sm-inline">
                Edit
              </span>
            </button>
          {{/if}}

          <button
            class="col-sm-2 col-2 col-xs-2 btn btn-secondary o_button_import"
            type="button"
            onclick={{action "discardroute"}}
          >
            Discard
          </button>
        </div>
        <div class="col-12 col-sm-12 col-xs-12 margin-nav">
          <div class="breadcrumb1">
            {{#if (eq asset.status "draft")}}
              <a
                href="#"
                data-toggle="modal"
                data-target="#inviteModal"
                id="invite-breadcrumb"
              >
                Draft
              </a>
            {{else}}
              <a
                href="#"
                data-bind="css:{selected:applicationsFilter() === 'new'}"
              >
                <label
                  class="radio-inline"
                  data-bind="css:{selected:applicationsFilter() === 'new'}"
                >
                  Draft
                </label>
              </a>
            {{/if}}
            {{#if (eq asset.status "approved")}}
              <a
                href="#"
                data-toggle="modal"
                data-target="#inviteModal"
                id="invite-breadcrumb"
              >
                Approved
              </a>
            {{else}}
              <a
                href="#"
                data-bind="css:{selected:applicationsFilter() === 'new'}"
              >
                <label
                  class="radio-inline"
                  data-bind="css:{selected:applicationsFilter() === 'new'}"
                >
                  Approved
                </label>
              </a>
            {{/if}}

            {{#if (eq asset.status "declined")}}
              <a
                href="#"
                data-toggle="modal"
                data-target="#inviteModal"
                id="invite-breadcrumb"
              >
                Declined
              </a>
            {{else}}
              <a
                href="#"
                data-bind="css:{selected:applicationsFilter() === 'new'}"
              >
                <label
                  class="radio-inline"
                  data-bind="css:{selected:applicationsFilter() === 'new'}"
                >
                  Declined
                </label>
              </a>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-xs-12  mainpanel padding-0">
        <PaperCard as |card|>
          <card.content @class="layout-row layout-align-space-between">
            <div class="col-sm-1 col-xs-12 col-12"></div>
            {{#object-canvas
              label="Marked All"
              imageurl=asset.imageurls
              recogArray=asset.personnel
              isUpload=false
            }}{{/object-canvas}}
            <div class="col-sm-4 col-xs-12 col-12">
            </div>
          </card.content>
        </PaperCard>

        <PaperCard as |card|>
          <card.content @class="layout-row layout-align-space-between">
            <div class="col-sm-6 col-xs-12 col-12">
              <table>
                <tbody>
                  <tr>
                    <td colspan="2" style="width: 100%;">
                      <div class="o_horizontal_separator-deep-or">
                        {{asset.assetid}}
                      </div>
                    </td>
                  </tr>
                  {{#object-id
                    data=asset.assetid
                    isReadonly=true
                    label="Assert ID."
                    rowid="assetid"
                  }}{{/object-id}}
                  {{#object-title
                    title=asset.title
                    label="Title"
                    isReadonly=true
                  }}{{/object-title}}
                  {{#object-textarea
                    title=asset.description
                    label="Description"
                    isReadonly=true
                  }}{{/object-textarea}}
                </tbody>
              </table>
            </div>

            <div class="col-sm-6 col-xs-12 col-12">
              <table>
                <tbody>
                  <tr>
                    <td colspan="2" style="width: 100%;">
                      <div class="o_horizontal_separator-deep-or">
                        /
                      </div>
                    </td>
                  </tr>
                  {{#object-title
                    title=asset.secrecylevel
                    label="Secrecy Level"
                    isReadonly=true
                  }}{{/object-title}}

                  {{#date-field
                    dt=asset.taken
                    label="Taken Date"
                    isReadonly=true
                  }}{{/date-field}}
                </tbody>
              </table>
            </div>
          </card.content>
        </PaperCard>
        <PaperCard as |card|>
          <card.title as |title|>
            <div class="o_notebook">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a
                    data-toggle="tab"
                    disable_anchor="true"
                    href="#notebook_page_89"
                    class="nav-link active show"
                    role="tab"
                    aria-selected="true"
                    id="personnel"
                    onclick={{action "personnel"}}
                  >
                    Personnel
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    id="event"
                    data-toggle="tab"
                    disable_anchor="true"
                    href="#notebook_page_90"
                    class="nav-link"
                    role="tab"
                    aria-selected="false"
                    onclick={{action "events"}}
                  >
                    Event Tags
                  </a>
                </li>

                <li class="nav-item">
                  <a
                    id="location"
                    data-toggle="tab"
                    disable_anchor="true"
                    href="#notebook_page_91"
                    class="nav-link"
                    role="tab"
                    aria-selected="false"
                    onclick={{action "location"}}
                  >
                    Location Tags
                  </a>
                </li>

                <li class="nav-item">
                  <a
                    id="air"
                    data-toggle="tab"
                    disable_anchor="true"
                    href="#notebook_page_92"
                    class="nav-link"
                    role="tab"
                    aria-selected="false"
                    onclick={{action "aircraft"}}
                  >
                    Aircraft
                  </a>
                </li>

                <li class="nav-item">
                  <a
                    id="gal"
                    data-toggle="tab"
                    disable_anchor="true"
                    href="#notebook_page_93"
                    class="nav-link"
                    role="tab"
                    aria-selected="false"
                    onclick={{action "gallery"}}
                  >
                    Gallery
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    id="studio"
                    data-toggle="tab"
                    disable_anchor="true"
                    href="#notebook_page_94"
                    class="nav-link"
                    role="tab"
                    aria-selected="false"
                    onclick={{action "studioTab"}}
                  >
                    Studio Photography
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    id="othertags"
                    data-toggle="tab"
                    disable_anchor="true"
                    href="#notebook_page_95"
                    class="nav-link"
                    role="tab"
                    aria-selected="false"
                    onclick={{action "otherTagsTab"}}
                  >
                    Other Tags
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    id="comment"
                    data-toggle="tab"
                    disable_anchor="true"
                    href="#notebook_page_96"
                    class="nav-link"
                    role="tab"
                    aria-selected="false"
                    onclick={{action "commentTab"}}
                  >
                    Comments
                  </a>
                </li>
              </ul>
            </div>
          </card.title>
          <card.content>
            <div class="tab-content">
              <div class="tab-pane active show" id="notebook_page_89">
                <div class="col-sm-12 col-xs-12 col-12">
                  <div
                    class="col-sm-10 col-10 col-xs-10 o_horizontal_separator"
                  ></div>
                </div>
                <div class="col-sm-12 col-xs-12 col-12 margin-top-tab">
                  <div class="row">
                    <div class="new">
                      <table
                        class="o_list_view table table-sm table-hover table-striped o_list_view_ungrouped"
                      >
                        <thead>
                          <tr>
                            <th class="o_column_sortable">
                            </th>
                            <th class="o_column_sortable">
                              SN
                            </th>
                            <th class="o_column_sortable_1">
                              BDNO
                            </th>
                            <th class="o_column_sortable_1">
                              Rank
                            </th>
                            <th class="o_column_sortable_1">
                              Officer Name
                            </th>
                            <th class="o_column_sortable_1">
                              Rank in Picture
                            </th>
                          </tr>
                        </thead>

                        <tbody id="personrow">
                          {{#each asset.personnel as |personnel|}}
                            {{#obj-row-personnel-asset
                              model=personnel
                              mode="view"
                              totalarray=asset.personnel
                              autoisReadonly=true
                            }}{{/obj-row-personnel-asset}}
                          {{/each}}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="notebook_page_90">
                <div class="row margin-top-tab">
                  <div id="tagstotal" class="tagstotal">
                    <div id="tags">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-10">
                        {{#object-autocomplete
                          modelname="event"
                          listid="events"
                          array=asset.event
                          placeholder="Select Event"
                          mode="view"
                          isReadonly=true
                        }}{{/object-autocomplete}}
                      </div>
                      <div class="col-sm-1"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="notebook_page_91">
                <div class="row margin-top-tab">
                  <div id="tagstotallocation" class="tagstotal">
                    <div id="tagslocation">
                      <div class="col-sm-1"></div>
                      <div class="col-sm-10">
                        {{#object-autocomplete
                          modelname="location"
                          listid="locations"
                          array=asset.location
                          placeholder="Select Locations"
                          mode="view"
                          isReadonly=true
                        }}{{/object-autocomplete}}
                      </div>
                      <div class="col-sm-1"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="notebook_page_92">
                <div class="col-sm-12 col-xs-12 col-12 margin-top-tab">
                  <div class="row">
                    <div class="new">
                      <table
                        class="o_list_view table table-sm table-hover table-striped o_list_view_ungrouped"
                      >
                        <thead>
                          <tr>
                            <th class="o_column_sortable">
                              SN
                            </th>
                            <th class="o_column_sortable_1">
                              Aircraft
                            </th>
                          </tr>
                        </thead>
                        <tbody id="aircraftrow">
                          {{#each asset.aircraft as |aircraft|}}
                            <tr>
                              <td>
                                {{aircraft.sn}}
                              </td>
                              <td>
                                {{aircraft.name}}
                              </td>
                            </tr>
                          {{/each}}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="notebook_page_93">
                {{#obj-tree
                  data=directory
                  urldirectory=asset.galurl
                  assetfilename=asset.assetid
                  mode="view"
                }}{{/obj-tree}}
              </div>
              <div class="tab-pane" id="notebook_page_94">
                {{#object-studiophotography
                  studiocaption=asset.caption
                  studiophotography=asset.studiophotography
                  mode="view"
                  isReadonly=true
                }}{{/object-studiophotography}}
              </div>
              <div class="tab-pane" id="notebook_page_95">
                {{#object-other-tags
                  array=asset.othertags
                  placeholder="Other Tags"
                  mode="view"
                }}{{/object-other-tags}}
              </div>
              <div class="tab-pane" id="notebook_page_96">
                <PaperCard as |card|>
                  <card.title as |title|>
                    <div class="col-sm-12 col-xs-12 col-12">
                      <div
                        class="col-sm-9 col-9 col-xs-9 o_horizontal_separator"
                      >
                        Comments
                      </div>
                    </div>
                  </card.title>

                  <card.content @class="layout-row layout-align-space-between">
                    <div class="col-sm-12 col-xs-12 col-12">
                      <div class="row">
                        <div class="new">
                          <table
                            class="o_list_view table table-sm table-hover table-striped o_list_view_ungrouped"
                          >
                            <thead>
                              <tr>
                                <th class="o_column_sortable">
                                  From
                                </th>
                                <th class="o_column_sortable">
                                  Comment
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              {{#each asset.comment as |componentName|}}
                                {{#object-comment
                                  model=componentName
                                  totalarray=componentNames
                                  isReadonly=true
                                  mode="view"
                                }}{{/object-comment}}
                              {{else}}

                              {{/each}}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </card.content>
                </PaperCard>
              </div>
            </div>
          </card.content>
        </PaperCard>
      </div>
    </div>
  </div>
</div>