{{#main-navbar tasksController=this}}{{/main-navbar}}
<div class="margin-top">
  <div class="col-sm-2 sidenavtwo">
    <div class="row" id="overlay">
      <div class="col-xs-6 col-sm-6 new-load">
        <div class="col-xs-6 col-sm-6 login-card-2">
          <PaperProgressCircular @primary={{true}} @diameter={{100}} />
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="col-sm-12">
      {{#gallery-upload data=directory}}{{/gallery-upload}}
    </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-10">
    <div class="row margin">
      <div class="col-12 col-sm-12 col-xs-12 staticnav-new padding-0">
        <div class="col-12 col-sm-6 col-xs-12 mainpanel">
          <ol class="breadcrumb" role="navigation">
            <li>
              <a class="borrolink" onclick={{action "discardroute"}}>
                Home
              </a>
            </li>
            <li class="breadcrumb-item active">
              Bulk Upload
            </li>
            <li>
              <a class="borrolink" onclick={{action "bulkasset"}}>
                Asset
              </a>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          {{#each flashMessages.queue as |flash|}}
            {{flash-message flash=flash}}
          {{/each}}
        </div>
        <div class="col-sm-4"></div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <PaperCard as |card|>
            <card.content @class="layout-row layout-align-space-between">
              <div class="col-sm-5">
                {{input
                  class="form-control required-directory"
                  disabled=true
                  value=dircompute
                }}
              </div>
              <div class="col-sm-5">
                {{input
                  type="file"
                  class="col-sm-12 col-xs-12 col-12 form-control"
                  change=(action "upload")
                }}
              </div>
              <div class="col-sm-2">
                <button
                  accesskey="c"
                  class="col-sm-12 col-12 col-xs-12 btn btn-primary o_list_button_add"
                  type="button"
                  data-original-title=""
                  title=""
                  onclick={{action "saveasset" newimage}}
                >
                  <i title="Create" class="fa fa-plus"></i>
                  <span class="d-none d-sm-inline">
                    Save
                  </span>
                </button>
              </div>
            </card.content>
          </PaperCard>
        </div>
        <div class="col-sm-2"></div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-12">
          <div class="outer">
            {{#each newimagecompute as |image|}}
              <div>
                <img
                  src={{image.asset}}
                  class="asset-image-preview-new"
                  alt=""
                />
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{#message-component}}{{/message-component}}