{{#main-navbar tasksController=this}}{{/main-navbar}}
<div class="margin-top">
  <div class="col-sm-2 sidenavtwo">
    <br />
    <br />
    <div class="col-sm-12">
      {{#gal-directory data=directory}}{{/gal-directory}}
    </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-10">
    <div class="row margin">
      <div class="col-12 col-sm-12 col-xs-12 staticnav-new padding-0">
        <div class="col-12 col-sm-6 col-xs-12 mainpanel">
          <ol class="breadcrumb" role="navigation">
            <li>
              <a class="borrolink" onclick={{action "discardroute"}}>
                Home
              </a>
            </li>
            <li class="breadcrumb-item active">
              Gallery
            </li>
          </ol>

          <button
            class="col-sm-2 col-2 col-xs-2 btn btn-secondary o_button_import"
            type="button"
            onclick={{action "discardroute"}}
          >
            Discard
          </button>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-xs-12  mainpanel padding-0">
        <PaperCard as |card|>
          <card.content @class="layout-row layout-align-space-between">
            <div class="col-sm-4 col-xs-12 col-12">
              <div class="row">
                <div class="grid-container">
                  {{#each paginatedContent as |data index|}}
                    <div class="grid-item">
                      {{#image-gallery imageurl=data.imageurls index=index}}
                      {{/image-gallery}}
                      <code class="code">
                        <a class="link" onclick={{action "detail" data.id}}>
                          {{data.title}}
                        </a>
                      </code>
                      <code class="codedata">
                        {{moment-format data.taken "YYYY-MM-DD"}}
                      </code>
                    </div>
                  {{/each}}
                </div>
              </div>
            </div>
          </card.content>
        </PaperCard>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <button class="btn-next size" {{action "prevClicked" previous_url}}>
          <i title="Create" class="fa fa-angle-left"></i>
          Previous
        </button>
      </div>
      <div class="col-sm-6">
        {{#if (not-eq isPrev false)}}
          <button class="btn-next size" {{action "first" hurl}}>
            1
          </button>
          <button class="btn-next size" {{action "moreprev" previous_url}}>
            ....
          </button>
        {{/if}}
        {{#each pages as |page index|}}
          {{#if (eq index pageNumber)}}
            <span>
              {{#link-to
                "gallery"
                (query-params pageNumber=index)
                class="btn-span bold big-text"
                tagName="button"
              }}
                {{add-one index allassets}}
              {{/link-to}}
            </span>
          {{else}}
            <span>
              {{#link-to
                "gallery"
                (query-params pageNumber=index)
                class="btn-span"
                tagName="button"
              }}
                {{add-one index allassets}}
              {{/link-to}}
            </span>
          {{/if}}
        {{/each}}
        {{#if (not-eq istheremore undefined)}}
          <button class="btn-next size" {{action "moredata" next_url}}>
            ....
          </button>
          <button class="btn-next size" {{action "last" hurl istheremore}}>
            {{istheremore}}
          </button>
        {{/if}}
      </div>
      <div class="col-sm-2">
        <button class="btn-next size" {{action "nextClicked" next_url}}>
          Next
          <i title="Create" class="fa fa-angle-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
{{#message-component}}{{/message-component}}