{{#main-navbar tasksController=this}}{{/main-navbar}}
<div class="margin-top">
  <div class="col-sm-2 sidenav">
    <br />
    <br />
    <div class="col-sm-12">
      {{#nav-lending}}{{/nav-lending}}
    </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-10">
    <div class="row margin">
      <div class="col-12 col-sm-12 col-xs-12 staticnav-new padding-0">
        <div class="col-12 col-sm-6 col-xs-12 mainpanel">
          <ol class="breadcrumb" role="navigation">
            <li>
              <a class="borrolink">
              </a>
            </li>
            <li class="breadcrumb-item active">
              Image Editor
            </li>
          </ol>

          <button
            class="col-sm-2 col-2 col-xs-2 btn btn-primary o_list_button_add"
            type="button"
            data-original-title=""
            title=""
            onclick={{action "save"}}
          >
            <span class="d-none d-sm-inline">
              Save
            </span>
          </button>

          <button
            class="col-sm-2 col-2 col-xs-2 btn btn-secondary o_button_import"
            type="button"
            onclick={{action "discardroute"}}
          >
            Discard
          </button>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-xs-12  mainpanel padding-0">
        <PaperCard as |card|>
          <card.content @class="layout-row layout-align-space-between">
            <div class="col-1 col-sm-1 col-xs-1"></div>
            <div class="col-11 col-sm-11 col-xs-11">
              <div class="col-sm-8 col-xs-12 col-12">
                <div class="row">
                  <img
                    src={{image}}
                    class="asset-image-preview-view-editor"
                    alt=""
                  />
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-6 col-xs-12 col-12">
                    <table>
                      <tbody>
                        <tr>
                          <td colspan="2" style="width: 100%;">
                            <div class="o_horizontal_separator-deep-or">
                              Color Correction
                            </div>
                          </td>
                        </tr>
                        {{#object-tick
                          label="Invert"
                          holderflag="invert"
                          isBoardcast=true
                          ticked=isInverted
                        }}{{/object-tick}}
                        {{#object-slider
                          label="Brightness"
                          isBoardcast=true
                          holderflag="brightness"
                          data=brigthness
                        }}{{/object-slider}}
                        {{#object-slider
                          label="Contrast"
                          isBoardcast=true
                          holderflag="contrast"
                          data=contrast
                        }}{{/object-slider}}
                        {{#object-tick
                          label="Greyscale"
                          holderflag="grey"
                          isBoardcast=true
                          ticked=isGrey
                        }}{{/object-tick}}
                      </tbody>
                    </table>
                  </div>
                  <div class="col-sm-6 col-xs-12 col-12">
                    <table>
                      <tbody>
                        <tr>
                          <td colspan="2" style="width: 100%;">
                            <div class="o_horizontal_separator-deep-or">
                              HSL
                            </div>
                          </td>
                        </tr>

                        {{#object-slider
                          label="Hue"
                          isBoardcast=true
                          holderflag="hue"
                          data=hue
                          step=1
                          minlength=0
                          maxlength=360
                        }}{{/object-slider}}
                        {{#object-slider
                          label="Saturation"
                          isBoardcast=true
                          holderflag="saturation"
                          data=saturation
                          step=1
                          minlength=1
                          maxlength=100
                        }}{{/object-slider}}
                        {{#object-slider
                          label="Lightness"
                          isBoardcast=true
                          holderflag="lightness"
                          data=lightness
                          step=1
                          minlength=1
                          maxlength=100
                        }}{{/object-slider}}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-xs-12 col-12">
                <table>
                  <tbody>
                    <tr>
                      <td colspan="2" style="width: 100%;">
                        <div class="o_horizontal_separator-deep-or">
                          Orginal Size (in px)
                        </div>
                      </td>
                    </tr>
                    {{#number-field
                      label="Width"
                      classInput="form-control input-txt-table"
                      data=originalwidth
                      isReadonly=true
                    }}{{/number-field}}
                    {{#number-field
                      label="Height"
                      classInput="form-control input-txt-table"
                      data=originalheight
                      isReadonly=true
                    }}{{/number-field}}
                    <hr />
                    <tr>
                      <td colspan="2" style="width: 100%;">
                        <div class="o_horizontal_separator-deep-or">
                          Resize (in px)
                        </div>
                      </td>
                    </tr>
                    {{#number-field
                      label="Width"
                      classInput="form-control input-txt-table"
                      isPresence=false
                      format="^[0-9.-\s]*$"
                      data=width
                      isBoardcast=true
                      isAspectRatio=isAspectRatio
                      flagfor="height"
                    }}{{/number-field}}
                    {{#number-field
                      label="Height"
                      classInput="form-control input-txt-table"
                      isPresence=false
                      format="^[0-9.-\s]*$"
                      data=height
                      isBoardcast=true
                      isAspectRatio=isAspectRatio
                      flagfor="width"
                    }}{{/number-field}}
                    {{#object-tick
                      label="Keep Aspect"
                      ticked=isAspectRatio
                      isBoardcast=true
                    }}{{/object-tick}}
                    <tr>
                      <td class="col-sm-7 col-xs-12 col-12 o_td_label"></td>
                      <td class="col-sm-5 col-xs-12 col-12 padding-left">
                        <button
                          class="col-sm-12 col-12 col-xs-12 btn btn-primary o_list_button_add"
                          type="button"
                          data-original-title=""
                          title=""
                          onclick={{action "resize"}}
                        >
                          <span class="d-none d-sm-inline">
                            Resize
                          </span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </card.content>
        </PaperCard>
      </div>
    </div>
  </div>
</div>