<nav class="navbar navbar-expand-md navbar-light bg-light"></nav>
<div class="container">
  <div class="row">
    <div class="col-12 col-xs-12 col-sm-4"></div>
    <div class="col-12 col-xs-12 col-sm-4">
      <div class="oe_login_form">
        <div class="form-group">
          <label for="login">
            Login ID
          </label>
          {{input
            class="form-control"
            placeholder="Login ID"
            id="login"
            value=newmodel.loginid
          }}
        </div>

        <div class="form-group">
          <label for="password">
            Password
          </label>
          {{input
            class="form-control"
            id="password"
            type="password"
            placeholder="Password"
            value=newmodel.password
          }}
        </div>
        <div class="clearfix oe_login_buttons text-center mb-1 pt-3">
          <button
            class="btn btn-primary btn-block"
            onclick={{action "submit" newmodel}}
          >
            Login
          </button>
        </div>
      </div>
      <div class="flash-messages">
        {{#each flashMessages.queue as |flash|}}
          {{flash-message flash=flash}}
        {{/each}}
      </div>
    </div>
    <div class="col-12 col-xs-12 col-sm-4"></div>
  </div>
</div>
{{#footer-component}}{{/footer-component}}