{{#main-navbar tasksController=this}}{{/main-navbar}}
<div class="margin-top">
  <div class="col-sm-2 sidenav">
    <br />
    <br />
    <div class="col-sm-12">
      {{#nav-lending}}{{/nav-lending}}
    </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-10">
    <div class="row margin">
      <div class="col-12 col-sm-12 col-xs-12 staticnav-new padding-0">
        <div class="col-12 col-sm-6 col-xs-12 mainpanel">
          <ol class="breadcrumb" role="navigation">
            <li>
              <a
                class="borrolink"
                onclick={{action "discardroute" personnel.id}}
              >
                View
              </a>
            </li>
            <li class="breadcrumb-item active">
              Edit
            </li>
          </ol>
          {{#if
            (eq
              (determine-crud-action nextcrudactions personnel.status "edit")
              "edit"
            )
          }}
            <button
              class="col-sm-2 col-2 col-xs-2 btn btn-primary o_list_button_add"
              type="button"
              data-original-title=""
              title=""
              onclick={{action "save" personnel personnel.id "draft"}}
            >
              <span class="d-none d-sm-inline">
                Save
              </span>
            </button>
          {{/if}}
          <button
            class="col-sm-2 col-2 col-xs-2 btn btn-secondary o_button_import"
            type="button"
            onclick={{action "discardroute" personnel.id}}
          >
            Discard
          </button>
        </div>
        <div class="col-12 col-sm-12 col-xs-12 margin-nav">
          <div class="col-xs-6 col-6 col-sm-6">
            {{#if
              (not-eq
                (determine-action nextactions "Approve" "personnel") "none"
              )
            }}
              <button
                class="col-sm-2 col-2 col-xs-2 btn btn-primary confirm"
                type="button"
                data-original-title=""
                title=""
                onclick={{action "save" personnel personnel.id "approved"}}
              >
                <span class="d-none d-sm-inline">
                  {{determine-action nextactions "Approve" "personnel"}}
                </span>
              </button>
            {{/if}}
            <div class="col-xs-12 col-12 col-sm-1 pt-0"></div>

            {{#if
              (not-eq
                (determine-action nextactions "Decline" "personnel") "none"
              )
            }}
              <button
                class="col-sm-2 col-2 col-xs-2 btn btn-primary confirm"
                type="button"
                onclick={{action "save" personnel personnel.id "declined"}}
              >
                {{determine-action nextactions "Decline" "personnel"}}
              </button>
            {{/if}}
          </div>
          <div class="breadcrumb1">
            {{#if (eq personnel.status "draft")}}
              <a
                href="#"
                data-toggle="modal"
                data-target="#inviteModal"
                id="invite-breadcrumb"
              >
                Draft
              </a>
            {{else}}
              <a
                href="#"
                data-bind="css:{selected:applicationsFilter() === 'new'}"
              >
                <label
                  class="radio-inline"
                  data-bind="css:{selected:applicationsFilter() === 'new'}"
                >
                  Draft
                </label>
              </a>
            {{/if}}
            {{#if (eq personnel.status "approved")}}
              <a
                href="#"
                data-toggle="modal"
                data-target="#inviteModal"
                id="invite-breadcrumb"
              >
                Approved
              </a>
            {{else}}
              <a
                href="#"
                data-bind="css:{selected:applicationsFilter() === 'new'}"
              >
                <label
                  class="radio-inline"
                  data-bind="css:{selected:applicationsFilter() === 'new'}"
                >
                  Approved
                </label>
              </a>
            {{/if}}

            {{#if (eq personnel.status "declined")}}
              <a
                href="#"
                data-toggle="modal"
                data-target="#inviteModal"
                id="invite-breadcrumb"
              >
                Declined
              </a>
            {{else}}
              <a
                href="#"
                data-bind="css:{selected:applicationsFilter() === 'new'}"
              >
                <label
                  class="radio-inline"
                  data-bind="css:{selected:applicationsFilter() === 'new'}"
                >
                  Declined
                </label>
              </a>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-xs-12  mainpanel padding-0">
        <PaperCard as |card|>
          <card.content @class="layout-row layout-align-space-between">
            <div class="col-sm-4 col-xs-12 col-12">
              <div class="row">
                <img
                  src={{image-component personnel.imageurls}}
                  class="asset-image-preview-view-2"
                  alt=""
                />
              </div>
            </div>
            <div class="col-sm-8 col-xs-12 col-12">
              <table>
                <tbody>
                  <tr>
                    <td colspan="2" style="width: 100%;">
                      <div class="o_horizontal_separator-deep-or">
                        /
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-sm-5 col-xs-12 col-12 o_td_label">
                      <label class="o_form_label">
                        BDNO.
                      </label>
                    </td>
                    <td class="col-sm-7 col-xs-12 col-12 padding-left">
                      {{input
                        type="text"
                        class="form-control required"
                        value=personnel.bdno
                        disabled=(no-edit-access noteditables "bdno")
                      }}
                    </td>
                  </tr>
                  <tr>
                    <td class="col-sm-4 col-xs-12 col-12 o_td_label">
                      <label class="o_form_label">
                        Name
                      </label>
                    </td>
                    <td class="col-sm-8 col-xs-12 col-12 padding-left">
                      {{input
                        type="text"
                        class="form-control required"
                        value=personnel.name
                        disabled=(no-edit-access noteditables "name")
                      }}
                    </td>
                  </tr>

                  <tr>
                    <td class="col-sm-5 o_td_label">
                      <label class="o_form_label">
                        Current Rank
                      </label>
                    </td>
                    <td class="col-sm-4 padding-left">
                      <input
                        list="browsers"
                        class="form-control required"
                        name="browser"
                        data-min-length="1"
                        value={{personnel.currentrank}}
                      />
                      <datalist id="browsers">
                        {{#each ranks as |r|}}
                          <option value={{r.name}}>
                            {{r.name}}
                          </option>
                        {{/each}}
                      </datalist>
                    </td>
                  </tr>

                  <tr>
                    <td class="col-sm-5 o_td_label">
                      <label class="o_form_label">
                        Is Retired
                      </label>
                    </td>
                    <td class="col-sm-7">
                      <span class="bigcheck">
                        <label class="bigcheck">
                          {{#if (eq personnel.isretired "true")}}
                            <input
                              id="retired"
                              type="checkbox"
                              class="bigcheck"
                              name="cheese"
                              value="yes"
                              onchange={{action "retiredofficer"}}
                              checked
                            />
                            <span class="bigcheck-target"></span>
                          {{else}}
                            <input
                              id="retired"
                              type="checkbox"
                              class="bigcheck"
                              name="cheese"
                              value="yes"
                              onchange={{action "retiredofficer"}}
                            />
                            <span class="bigcheck-target"></span>
                          {{/if}}
                        </label>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </card.content>
        </PaperCard>
        <PaperCard as |card|>
          <card.title as |title|>
            <div class="col-sm-12 col-xs-12 col-12">
              <div class="col-sm-10 col-10 col-xs-10 o_horizontal_separator">
                Rank History
              </div>
              <button
                class="col-sm-2 col-2 col-xs-2 btn btn-primary-red o_list_button_add"
                type="button"
                data-original-title=""
                title=""
                onclick={{action "addEventColumn" newmodel}}
              >
                <span class="d-none d-sm-inline">
                  Add
                </span>
              </button>
            </div>
          </card.title>
          <card.content @class="layout-row layout-align-space-between">
            <div class="col-sm-12 col-xs-12 col-12">
              <div class="row">
                <div class="new">
                  <table
                    class="o_list_view table table-sm table-hover table-striped o_list_view_ungrouped"
                  >
                    <thead>
                      <tr>
                        <th>
                          SN
                        </th>
                        <th>
                          Rank
                        </th>
                        <th>
                          Start Date
                        </th>
                        <th>
                          End Date
                        </th>
                        <th>
                          Delete
                        </th>
                      </tr>
                    </thead>
                    <tbody id="personrow">
                      {{#each personnel.rankhistory as |rankhistory|}}
                        <tr id={{current-rank-id "" rankhistory.sn}}>
                          <td
                            id={{current-rank-id "sn_" rankhistory.sn}}
                            class="col-sm-1"
                          >
                            {{rankhistory.sn}}
                          </td>
                          <td class="col-sm-3">
                            <input
                              list="browsers2"
                              class="form-control required-3"
                              name="browser2"
                              data-min-length="1"
                              value={{rankhistory.rank}}
                              id={{current-rank-id "rank_" rankhistory.sn}}
                            />
                            <datalist id="browsers2">
                              {{#each ranks as |r|}}
                                <option value={{r.name}}>
                                  {{r.name}}
                                </option>
                              {{/each}}
                            </datalist>
                          </td>
                          <td class="col-sm-2">
                            <input
                              id={{current-rank-id "startdate_" rankhistory.sn}}
                              type="date"
                              class="form-control required-3"
                              value={{rankhistory.startdate}}
                            />
                          </td>
                          <td class="col-sm-2">
                            <input
                              id={{current-rank-id "enddate_" rankhistory.sn}}
                              type="date"
                              class="form-control required-3"
                              value={{rankhistory.enddate}}
                            />
                          </td>
                          <td class="col-sm-1">
                            <button class="btn btn-primary-deep-orange btn1">
                              <span
                                class="fa fa-times"
                                onclick={{action "deleterow" rankhistory.sn}}
                              ></span>
                            </button>
                          </td>
                        </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </card.content>
        </PaperCard>
        <PaperCard as |card|>
          <card.content>
            <div class="table-new">
              <table class="" id="table_gal">
                <tbody id="gallery">
                  <tr>
                    {{#each personnel.imageurls as |imgV|}}
                      <td class="pt-0">
                        <img
                          src={{imgV.url}}
                          class="asset-image-preview-2"
                          alt=""
                        />
                      </td>
                    {{/each}}
                  </tr>
                </tbody>
              </table>
            </div>
            <hr />
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <button
                class="col-sm-12 col-12 col-xs-12 btn btn-primary o_list_button_add"
                type="button"
              >
                View all from library
              </button>
            </div>

            <div class="col-sm-4"></div>
          </card.content>
        </PaperCard>
      </div>
    </div>
  </div>
</div>
{{#message-component}}{{/message-component}}