{{#main-navbar tasksController=this}}{{/main-navbar}}
<div class="margin-top">
  <div class="col-sm-2 sidenav">
    <br />
    <br />
    <div class="col-sm-12">
      {{#nav-lending}}{{/nav-lending}}
    </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-10">
    <div class="row margin">
      <div class="col-12 col-sm-12 col-xs-12 staticnav-new padding-0">
        <div class="col-12 col-sm-6 col-xs-12 mainpanel">
          <ol class="breadcrumb" role="navigation">
            <li>
              <a class="borrolink" onclick={{action "discardroute"}}>
                Personnels
              </a>
            </li>
            <li class="breadcrumb-item active">
              View
            </li>
          </ol>
          {{#if
            (eq
              (determine-crud-action nextcrudactions personnel.status "edit")
              "edit"
            )
          }}
            <button
              class="col-sm-2 col-2 col-xs-2 btn btn-primary o_list_button_add"
              type="button"
              data-original-title=""
              title=""
              onclick={{action "edit" personnel.id}}
            >
              <i title="Edit" class="fa fa-pencil"></i>
              <span class="d-none d-sm-inline">
                Edit
              </span>
            </button>
          {{/if}}

          <button
            class="col-sm-2 col-2 col-xs-2 btn btn-secondary o_button_import"
            type="button"
            onclick={{action "discardroute"}}
          >
            Discard
          </button>
        </div>
        <div class="col-12 col-sm-12 col-xs-12 margin-nav">
          <div class="breadcrumb1">
            {{#if (eq personnel.status "draft")}}
              <a
                href="#"
                data-toggle="modal"
                data-target="#inviteModal"
                id="invite-breadcrumb"
              >
                Draft
              </a>
            {{else}}
              <a
                href="#"
                data-bind="css:{selected:applicationsFilter() === 'new'}"
              >
                <label
                  class="radio-inline"
                  data-bind="css:{selected:applicationsFilter() === 'new'}"
                >
                  Draft
                </label>
              </a>
            {{/if}}
            {{#if (eq personnel.status "approved")}}
              <a
                href="#"
                data-toggle="modal"
                data-target="#inviteModal"
                id="invite-breadcrumb"
              >
                Approved
              </a>
            {{else}}
              <a
                href="#"
                data-bind="css:{selected:applicationsFilter() === 'new'}"
              >
                <label
                  class="radio-inline"
                  data-bind="css:{selected:applicationsFilter() === 'new'}"
                >
                  Approved
                </label>
              </a>
            {{/if}}

            {{#if (eq personnel.status "declined")}}
              <a
                href="#"
                data-toggle="modal"
                data-target="#inviteModal"
                id="invite-breadcrumb"
              >
                Declined
              </a>
            {{else}}
              <a
                href="#"
                data-bind="css:{selected:applicationsFilter() === 'new'}"
              >
                <label
                  class="radio-inline"
                  data-bind="css:{selected:applicationsFilter() === 'new'}"
                >
                  Declined
                </label>
              </a>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-xs-12  mainpanel padding-0">
        <PaperCard as |card|>
          <card.content @class="layout-row layout-align-space-between">
            <div class="col-sm-6 col-xs-12 col-12">
              <div class="row">
                <img
                  src={{image-component personnel.imageurls}}
                  class="asset-image-preview-view-2"
                  alt=""
                />
              </div>
            </div>
            <div class="col-sm-6 col-xs-12 col-12">
              <table>
                <tbody>
                  <tr>
                    <td colspan="2" style="width: 100%;">
                      <div class="o_horizontal_separator-deep-or">
                        {{personnel.bdno}}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-sm-4 col-xs-12 col-12 o_td_label">
                      <label class="o_form_label">
                        Name
                      </label>
                    </td>
                    <td
                      class="col-sm-8 col-xs-12 col-12 padding-left {{
                        no-view-access notviewables "name"
                      }}"
                    >
                      {{personnel.name}}
                    </td>
                  </tr>

                  <tr>
                    <td class="col-sm-4 col-xs-12 col-12 o_td_label">
                      <label class="o_form_label">
                        Current Rank
                      </label>
                    </td>
                    <td
                      class="col-sm-8 col-xs-12 col-12 padding-left {{
                        no-view-access notviewables "currentrank"
                      }}"
                    >
                      {{personnel.currentrank}}
                    </td>
                  </tr>
                  <tr>
                    <td class="col-sm-4 col-xs-12 col-12 o_td_label">
                      <label class="o_form_label">
                        is Retired
                      </label>
                    </td>
                    <td
                      class="col-sm-8 col-xs-12 col-12 padding-left {{
                        no-view-access notviewables "currentrank"
                      }}"
                    >
                      {{#if (eq personnel.isretired "true")}}
                        Yes
                      {{else}}
                        No
                      {{/if}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </card.content>
        </PaperCard>
        <PaperCard as |card|>
          <card.content @class="layout-row layout-align-space-between">
            <div class="col-sm-12 col-xs-12 col-12">
              <div class="row">
                <div class="new">
                  <table
                    class="o_list_view table table-sm table-hover table-striped o_list_view_ungrouped"
                  >
                    <thead>
                      <tr>
                        <th class="o_column_sortable">
                          SN
                        </th>
                        <th class="o_column_sortable_1">
                          Rank
                        </th>
                        <th class="o_column_sortable_1">
                          Start Date
                        </th>
                        <th class="o_column_sortable_1">
                          End Date
                        </th>
                      </tr>
                    </thead>
                    <tbody id="personrow">
                      {{#each personnel.rankhistory as |rankhistory|}}
                        <tr>
                          <td>
                            {{rankhistory.sn}}
                          </td>
                          <td>
                            {{rankhistory.rank}}
                          </td>
                          <td>
                            {{rankhistory.startdate}}
                          </td>
                          <td>
                            {{rankhistory.enddate}}
                          </td>
                        </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </card.content>
        </PaperCard>
        <PaperCard as |card|>
          <card.content>
            <div class="table-new">
              <table class="" id="table_gal">
                <tbody id="gallery">
                  <tr>
                    {{#each personnel.imageurls as |imgV|}}
                      <td class="pt-0">
                        <img
                          src={{imgV.url}}
                          class="asset-image-preview-2"
                          alt=""
                        />
                      </td>
                    {{/each}}
                  </tr>
                </tbody>
              </table>
            </div>
            <hr />
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <button
                class="col-sm-12 col-12 col-xs-12 btn btn-primary o_list_button_add"
                type="button"
              >
                View all from library
              </button>
            </div>

            <div class="col-sm-4"></div>
          </card.content>
        </PaperCard>
      </div>
    </div>
  </div>
</div>