{{#main-navbar tasksController=this}}{{/main-navbar}}
<div class="margin-top">
  <div class="col-sm-2 sidenav">
    <br />
    <br />
    <div class="col-sm-12">
      {{#nav-lending}}{{/nav-lending}}
    </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-10">
    <div class="row margin">
      <div class="col-12 col-sm-12 col-xs-12 staticnav-new padding-0">
        <div class="col-12 col-sm-6 col-xs-12 mainpanel">
          <ol class="breadcrumb" role="navigation">
            <li>
              <a class="borrolink" onclick={{action "discardroute"}}>
                Home
              </a>
            </li>
            <li class="breadcrumb-item active">
              Result
            </li>
          </ol>
        </div>
        <div class="col-12 col-sm-12 col-xs-12 margin-nav">
          <div class="md-form active-pink active-pink-2  padding-btm col-sm-10">
            {{input
              class="form-control search"
              type="text"
              enter=(action "search" data)
              placeholder="Search for keyword"
              value=data
            }}
          </div>
          <div class="col-sm-2">
            <button
              class="col-sm-12 col-12 col-xs-12 btn btn-primary o_list_button_add"
              type="button"
              data-original-title=""
              onclick={{action "search" data}}
              title=""
            >
              <span class="d-none d-sm-inline">
                Search
              </span>
            </button>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-xs-12">
          <div class="col-sm-6">
            About {{searches.length}} results
          </div>
        </div>
      </div>
      <div
        class="col-12 col-sm-12 col-xs-12  mainpanel  margin-search padding-0"
      >
        <PaperCard as |card|>
          <card.content @class="layout-row layout-align-space-between">
            <div class="col-sm-4 col-xs-12 col-12">
              <div class="row">
                <div class="grid-container">
                  {{#each searches as |data|}}
                    <div class="grid-item">
                      <img
                        src={{data.imageurls}}
                        class="asset-image-preview-two"
                        alt=""
                      />
                      <code class="code">
                        <a class="link" onclick={{action "detail" data.id}}>
                          {{data.title}}
                        </a>
                      </code>
                      <code class="codedata">
                        {{moment-format data.taken "YYYY-MM-DD"}}
                      </code>
                    </div>
                  {{/each}}
                </div>
              </div>
            </div>
          </card.content>
        </PaperCard>
      </div>

      <div class="row">
        <div class="col-sm-12">
          {{#each-in searches.meta.pagination as |key value|}}
            {{#if (eq (determine-pagination value.number) true)}}
              {{#link-to "searchlist" (query-params page=value.number)}}
                <button id="pagi" class="btn-next">
                  {{key}}
                </button>
              {{/link-to}}
            {{else}}
              <button id="pagi" class="btn-new-disabled" disabled>
                {{key}}
              </button>
            {{/if}}
          {{/each-in}}
        </div>
      </div>
    </div>
  </div>
</div>