{{#main-navbar tasksController=this}}{{/main-navbar}}
<div class="margin-top">
  <div class="col-sm-2 sidenav">
    <br />
    <br />
    <div class="col-sm-12">
      {{#nav-lending}}{{/nav-lending}}
    </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-10">
    <div class="row margin">
      <div class="col-12 col-sm-12 col-xs-12 staticnav-new padding-0">
        <div class="col-12 col-sm-6 col-xs-12 mainpanel">
          <ol class="breadcrumb" role="navigation">
            <li>
              <a class="borrolink" onclick={{action "discardroute"}}>
                Home
              </a>
            </li>
            <li class="breadcrumb-item active">
              Search
            </li>
          </ol>
        </div>
        <div class="col-12 col-sm-12 col-xs-12 margin-nav">
        </div>
      </div>
      <div
        class="col-12 col-sm-12 col-xs-12  mainpanel  margin-search padding-0"
      >
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <div class="md-form active-pink active-pink-2  padding-btm col-sm-8">
            {{input
              class="form-control search"
              type="text"
              placeholder="Search for keyword"
              enter=(action "search" data)
              value=data
            }}
          </div>
          <div class="col-sm-2">
            <button
              class="col-sm-12 col-12 col-xs-12 btn btn-primary o_list_button_add"
              type="button"
              data-original-title=""
              title=""
              onclick={{action "search" data}}
              
            >
              <span class="d-none d-sm-inline">
                Search
              </span>
            </button>
          </div>
           <div class="col-sm-2">
            <button
              class="col-sm-12 col-12 col-xs-12 btn btn-primary o_list_button_add"
              type="button"
              data-original-title=""
              title=""
              onclick={{action "advance"}}
            >
              <span class="d-none d-sm-inline">
                <i class="fa fa-filter" aria-hidden="true"></i>
              </span>
            </button>
          </div>
        </div>
        <div class="col-sm-3"></div>
      </div>
    </div>
  </div>
</div>